.Homepage{
    top: 0;
    //height: calc(100vh - 100px);
    width: 100%;
    color: white;
    margin-top: 100px;
    transition: background-color 2s ease;
    display: flex;
    

    .homePage_wrapper{
        display: flex;
        display:grid ;
        grid-template-columns: 2fr 1.5fr  1fr ; 
        // grid-template-rows:  calc(100vh - 100px); 
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80%;
        margin: auto;
        padding-top: 50px;
       // background-color: lawngreen;
        //overflow: scroll;

        .homeleft{
            display: flex;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            margin: 0;
            padding: 0;
            flex: 2;
           
            //background-color: red;
           

            .wingbody{
                //display: none;
                // display: flex;
                // align-items: start;
                // justify-content: start;
                position: relative;
                width: 250px;
                height: 600px;
                //background-color: #FFF;
                margin: auto;
                padding: 0;
                margin-left: 10px;


                .female{
                    // background-color: gold;
                    width: 100%;
                    height: 100%;
                    flex-shrink: 0;
                    object-fit: contain ;
                    z-index: 3;
                    position: relative;
                }
    
                .wing{
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    transition: transform 0.5s;
                }
                 .Wing1 {
                        top: 120px;
                        left: 40px;
                        z-index: 1;
                        object-fit: contain;
                        animation: flapWing1 2s infinite alternate ease-in-out;
                    }
                    .Wing2 {
                        right: 30px;
                        object-fit: contain;
                        top: 120px;
                        z-index: 1;
                        transform: rotate(90deg);
                        animation: flapWing2 2s infinite alternate ease-in-out;
                    }
            }
           
            

        }

        .homecenter{
            flex: 2;
            width: 100%;
            align-items: center;
            display: flex;

            .textCenter{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: auto;
              
                
                span{
                    width: 50px;
                    height: 23px;
                    display: flex;
                    padding: 4px 8px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 100px;
                    background: rgba(255, 255, 255, 0.30);
    
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.15px;
                    text-transform: uppercase;
                }
    
                h4{
                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
    
                h1{
                    text-align: justify;
                    display: flex;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: -0.3px;
                    transition: background-color 2s ease;
                }
    
                button{
                    width: 236px;
                    height: 56px;
                    display: flex;
                    padding: 16px 32px;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    background: #43C4B2;
                    margin-top: 40px;
                    border: none;
                    transition: 2s ease ;
    
    
    
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                }
            }
         
        }

        .homeright{
            flex: 1;
            height: 650px;
           // margin-top: 50px;
           //background-color: chocolate;

            .wingbody{
                width: 200px;
                height: 250px;
                position: relative;

                .male{
                    width: 200px;
                    height: 300px;
                    object-fit: contain;
                    flex-shrink: 0;
                    position: relative;
                    }

                    .wing{
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        transition: transform 1s;
                    }
                     .Wing1 {
                            top: 20px;
                            left: 10px;
                            z-index: 1;
                            object-fit: contain;
                            animation: flapWing1 2s infinite alternate ease-in-out;
                        }
                        .Wing2 {
                            right: 20px;
                            object-fit: contain;
                            top: 20px;
                            z-index: 1;
                            transform: rotate(90deg);
                            animation: flapWing2 2s infinite alternate ease-in-out;
                        }
            }
            

            
            
        }
    }
        
       

        .mobileImg{
            display: none;
        }

    
.navLink{
    text-decoration: none;
}
   
}
@keyframes flapWing1 {
    0% {
      opacity: 0;
      transform: rotate(-15deg);
    }
    25% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
      }
    
    100% {
        opacity: 1;
      transform: rotate(60deg);
    }
  }
  
  @keyframes flapWing2 {
    0% {
        opacity: 0;
      transform: rotate(15deg);
    }
    25% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
      }
    100% {
        opacity: 1;
      transform: rotate(-60deg);
    }
  }

//   @media (max-width: 1200px) {
//     .Homepage{
//         top: 0;
//         //height: calc(100vh - 100px);
//         height: 100%;
//         width: 100%;
//         color: white;
//         margin-top: 100px;
//         transition: background-color 2s ease;
//         display: flex;
        
    
//         .homePage_wrapper{
//             display: flex;
//             display:grid ;
//             grid-template-columns: 2fr 1.5fr  1fr ; 
//             grid-template-rows:  calc(100vh - 100px); 
//             align-items: center;
//             justify-content: center;
//             width: 80%;
//             height: 80%;
//             margin: auto;
//             padding-top: 50px;
//            // background-color: lawngreen;
//             //overflow: scroll;
    
//             .homeleft{
//                 display: flex;
//                 align-items: flex-start;
//                 width: 100%;
//                 height: 100%;
//                 justify-content: flex-start;
//                 margin: 0;
//                 padding: 0;
//                 flex: 2;
               
//                 //background-color: red;
               
    
//                 .wingbody{
//                     //display: none;
//                     // display: flex;
//                     // align-items: start;
//                     // justify-content: start;
//                     position: relative;
//                     width: 250px;
//                     height: 600px;
//                     //background-color: #FFF;
//                     margin: auto;
//                     padding: 0;
//                     margin-left: 10px;
    
    
//                     .female{
//                         // background-color: gold;
//                         width: 100%;
//                         height: 100%;
//                         flex-shrink: 0;
//                         object-fit: contain ;
//                         z-index: 3;
//                         position: relative;
//                     }
        
//                     .wing{
//                         position: absolute;
//                         width: 100px;
//                         height: 100px;
//                         transition: transform 0.5s;
//                     }
//                      .Wing1 {
//                             top: 120px;
//                             left: 40px;
//                             z-index: 1;
//                             object-fit: contain;
//                             animation: flapWing1 2s infinite alternate ease-in-out;
//                         }
//                         .Wing2 {
//                             right: 30px;
//                             object-fit: contain;
//                             top: 120px;
//                             z-index: 1;
//                             transform: rotate(90deg);
//                             animation: flapWing2 2s infinite alternate ease-in-out;
//                         }
//                 }
               
                
    
//             }
    
//             .homecenter{
//                 flex: 2;
//                 width: 100%;
//                 align-items: center;
//                 display: flex;
    
//                 .textCenter{
//                     display: inline-flex;
//                     flex-direction: column;
//                     align-items: flex-start;
//                     width: 100%;
//                     height: auto;
                  
                    
//                     span{
//                         width: 50px;
//                         height: 23px;
//                         display: flex;
//                         padding: 4px 8px;
//                         justify-content: center;
//                         align-items: center;
//                         gap: 10px;
//                         border-radius: 100px;
//                         background: rgba(255, 255, 255, 0.30);
        
//                         color: #FFF;
//                         font-family: Poppins;
//                         font-size: 10px;
//                         font-style: normal;
//                         font-weight: 400;
//                         line-height: normal;
//                         letter-spacing: 0.15px;
//                         text-transform: uppercase;
//                     }
        
//                     h4{
//                         color: #43C4B2;
//                         font-family: Poppins;
//                         font-size: 24px;
//                         font-style: normal;
//                         font-weight: 400;
//                         line-height: normal;
//                     }
        
//                     h1{
//                         text-align: justify;
//                         display: flex;
//                         color: #FFF;
//                         font-family: Poppins;
//                         font-size: 35px;
//                         font-style: normal;
//                         font-weight: 600;
//                         line-height: 100%;
//                         letter-spacing: -0.3px;
//                         transition: background-color 2s ease;
//                     }
        
//                     button{
//                         width: 236px;
//                         height: 56px;
//                         display: flex;
//                         padding: 16px 32px;
//                         justify-content: center;
//                         align-items: center;
//                         gap: 16px;
//                         background: #43C4B2;
//                         margin-top: 40px;
//                         border: none;
//                         transition: 2s ease ;
        
        
        
//                         color: #FFF;
//                         font-family: Poppins;
//                         font-size: 14px;
//                         font-style: normal;
//                         font-weight: 500;
//                         line-height: normal;
//                         letter-spacing: 0.175px;
//                         text-transform: uppercase;
//                     }
//                 }
             
//             }
    
//             .homeright{
//                 flex: 1;
//                 height: 650px;
//                // margin-top: 50px;
//                //background-color: chocolate;
    
//                 .wingbody{
//                     width: 200px;
//                     height: 250px;
//                     position: relative;
    
//                     .male{
//                         width: 200px;
//                         height: 300px;
//                         object-fit: contain;
//                         flex-shrink: 0;
//                         position: relative;
//                         }
    
//                         .wing{
//                             position: absolute;
//                             width: 100px;
//                             height: 100px;
//                             transition: transform 1s;
//                         }
//                          .Wing1 {
//                                 top: 20px;
//                                 left: 10px;
//                                 z-index: 1;
//                                 object-fit: contain;
//                                 animation: flapWing1 2s infinite alternate ease-in-out;
//                             }
//                             .Wing2 {
//                                 right: 20px;
//                                 object-fit: contain;
//                                 top: 20px;
//                                 z-index: 1;
//                                 transform: rotate(90deg);
//                                 animation: flapWing2 2s infinite alternate ease-in-out;
//                             }
//                 }
                
    
                
                
//             }
//         }
            
           
    
//             .mobileImg{
//                 display: none;
//             }
    
        
//     .navLink{
//         text-decoration: none;
//     }
       
//     }
//   }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media (min-width: 300px) and (max-width: 600px) {
    .Homepage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 700px;
        width: 100%;
       // position: relative;
        padding-bottom: 200px;
        

        .homePage_wrapper{
            display: flex;
            flex-direction: column;
            padding: 0;
            //background-color: red;
            position: relative;

            .homecenter{
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: center;
                padding: 0;
               // overflow: scroll;
                gap: 20px;
                margin: 0;

                
                .textCenter{ 
                   width: 250px;
                   padding-top: 50px;
                  
                    
                
                    h1{
                        width: 220px;
                        text-align: justify;
                        color: #FFF;
                        align-self: stretch;
                        font-family: Poppins;
                        font-size: 35px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 1px;
                    }
        
                    button{
                        display: flex;
                        padding: 10px 12px 10px 24px;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        align-self: stretch;
                        background: #43C4B2;
                    }
                }
    
                .mobileImg{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   // margin-top: 300px;
                    // position: relative;
                    // bottom: 0;
                    width: 100%;
                    height: 100%;

    
    
                    .mobImg{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   // margin-top: 300px;
                    position: relative;
                    // bottom: 0;
                    width: 100%;
                    height: auto;
    
    
    
                        .mobilehomeleft{
                            position: absolute;
                            bottom: 30px;
                            right: 0;
                            width: 150px;
                            height: 100%;
                            padding: 0;
                
                            .wingbody{
                            width: 150px;
                            height: 150px; 
                
                            .female{
                                width: 100%;
                                height: 100%;
                                flex-shrink: 0;
                                object-fit: contain ;
                                z-index: 3;
                                position: relative;
                            }
                
                
                            .wing{
                                position: absolute;
                                width: 50px;
                                height: 50px;
                                transition: transform 0.5s;
                            }
                             .Wing1 {
                                    top: 10px;
                                    left: 30px;
                                    z-index: 1;
                                    object-fit: contain;
                                    animation: flapWing1 1s infinite alternate ease-in-out;
                                }
                                .Wing2 {
                                    top: 10px;
                                    right: 30px;
                                    object-fit: contain;
                                    z-index: 1;
                                    transform: rotate(90deg);
                                    animation: flapWing2 1s infinite alternate ease-in-out;
                                }
                
                            }
                          
                            // flex-shrink: 0;
                        }
                        .mobilehomeright{
                            position: absolute;
                            bottom: 30px;
                            left: 0;
                           // margin-left: -100px;
                            width: 150px;
                            height: 100%;
                          
                
                            .wingbody{
                            width: 150px;
                            height: 150px; 
                
                            .male{
                                width: 100%;
                                height: 100%;
                                flex-shrink: 0;
                                object-fit: contain ;
                            }
                
                
                            .wing{
                                position: absolute;
                                width: 50px;
                                height: 50px;
                                transition: transform 0.5s;
                            }
                             .Wing1 {
                                    top: 10px;
                                    left: 35px;
                                    z-index: 1;
                                    object-fit: contain;
                                    animation: flapWing1 1s infinite alternate ease-in-out;
                                }
                                .Wing2 {
                                    top: 10px;
                                    right: 35px;
                                    object-fit: contain;
                                    z-index: 1;
                                    transform: rotate(90deg);
                                    animation: flapWing2 1s infinite alternate ease-in-out;
                                }
                
                            }
                          
                            // flex-shrink: 0;
                        }
                    }
                 
    
                }
            }
    
          .homeleft, .homeright{
            display: none;
          }
        }
        // .homeleft{
        //     position: absolute;
        //     bottom: 0;
        //     background-color: #afac18;

        //     height: 200px;
        //     width: 100px;

        //     .wingbody{
        //         display: none;
        //         position: relative;
        //         width: 100%;
        //         height: 100%;
        //        // background-color: #FFF;
        //         margin: auto;
        //         padding: 0;


        //         .female{
        //             // background-color: gold;
        //             width: 100%;
        //             height: 100%;
        //             flex-shrink: 0;
        //             object-fit: contain ;
        //             z-index: 3;
        //             position: relative;
        //         }
    
        //         .wing{
        //             position: absolute;
        //             width: 100px;
        //             height: 100px;
        //             transition: transform 0.5s;
        //         }
        //          .Wing1 {
        //                 top: 80px;
        //                 left: 40px;
        //                 z-index: 1;
        //                 object-fit: contain;
        //                 animation: flapWing1 2s infinite alternate ease-in-out;
        //             }
        //             .Wing2 {
        //                 right: 30px;
        //                 object-fit: contain;
        //                 top: 80px;
        //                 z-index: 1;
        //                 transform: rotate(90deg);
        //                 animation: flapWing2 2s infinite alternate ease-in-out;
        //             }
        //     }
        // }
        // .homeright{
        //     display: none;
        // }
     

        // .mobileImg{
        //     display: block;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     width: 100%;
        //     padding: 20px;
        //     margin-top: -20px;
            
        //     // padding-left: 100px;
        //     // padding-right: 100px;
        //     transition: all 0.3s ease;
          

        //     img{
        //         //background-color: crimson;
        //         width: 150px;
        //         height: 200px;
        //         flex-shrink: 0;
              
        //     }
        // }
    }
  }