.Homepage{
    top: 0;
    height: calc(100vh - 100px);
    width: 100%;
    color: white;
    margin-top: 100px;
    transition: background-color 2s ease;
    display:grid ;
    grid-template-columns: 2fr 1.5fr  1fr ; 
    grid-template-rows:  calc(100vh - 100px); 
        
        .homeleft{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 2;
            width: 100%;
            height: 100%;
           

            .wingbody{
                position: relative;
                width: 250px;
                height: 400px;


                .female{
                    width: 300px;
                    height: 500px;
                    flex-shrink: 0;
                    object-fit: contain ;
                    z-index: 3;
                    position: relative;
                }
    
                .wing{
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    transition: transform 0.5s;
                }
                 .Wing1 {
                        top: 60px;
                        left: 60px;
                        z-index: 1;
                        object-fit: contain;
                        animation: flapWing1 2s infinite alternate ease-in-out;
                    }
                    .Wing2 {
                        right: 0;
                        object-fit: contain;
                        top: 60px;
                        z-index: 1;
                        transform: rotate(90deg);
                        animation: flapWing2 2s infinite alternate ease-in-out;
                    }
            }
           
            

        }

        .homecenter{
            flex: 2;
            width: 100%;
            align-items: center;
            display: flex;
           // height: 500px;
            //margin-top: 200px;

            .textCenter{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: auto;
              
                
                span{
                    width: 50px;
                    height: 23px;
                    display: flex;
                    padding: 4px 8px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 100px;
                    background: rgba(255, 255, 255, 0.30);
    
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.15px;
                    text-transform: uppercase;
                }
    
                h4{
                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
    
                h1{
                    text-align: justify;
                    display: flex;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: -0.3px;
                    transition: background-color 2s ease;
                }
    
                button{
                    width: 236px;
                    height: 56px;
                    display: flex;
                    padding: 16px 32px;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    background: #43C4B2;
                    margin-top: 40px;
                    border: none;
    
    
    
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                }
            }
         
        }

        .homeright{
            flex: 1;
            height: 100%;
            margin-top: 50px;

            .wingbody{
                width: 200px;
                height: 300px;
                position: relative;

                .male{
                    width: 200px;
                    height: 300px;
                    object-fit: contain;
                    flex-shrink: 0;
                    position: relative;
                    }

                    .wing{
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        transition: transform 1s;
                    }
                     .Wing1 {
                            top: 20px;
                            left: 10px;
                            z-index: 1;
                            object-fit: contain;
                            animation: flapWing1 2s infinite alternate ease-in-out;
                        }
                        .Wing2 {
                            right: 20px;
                            object-fit: contain;
                            top: 20px;
                            z-index: 1;
                            transform: rotate(90deg);
                            animation: flapWing2 2s infinite alternate ease-in-out;
                        }
            }
            

            
            
        }

        .mobileImg{
            display: none;
        }

    
.navLink{
    text-decoration: none;
}
   
}
@keyframes flapWing1 {
    0% {
      opacity: 0;
      transform: rotate(-15deg);
    }
    25% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
      }
    
    100% {
        opacity: 1;
      transform: rotate(60deg);
    }
  }
  
  @keyframes flapWing2 {
    0% {
        opacity: 0;
      transform: rotate(15deg);
    }
    25% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
      }
    100% {
        opacity: 1;
      transform: rotate(-60deg);
    }
  }

  @media (min-width: 900px) and (max-width: 1200px) {
    .Homepage{
        top: 0;
        height: calc(100vh - 100px);
        width: 100%;
        color: white;
        margin-top: 100px;
        transition: background-color 2s ease;
        display:grid ;
        grid-template-columns: 1fr 1fr  0.5fr ; 
        grid-template-rows:  calc(100vh - 100px); 
            
            .homeleft{
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 2;
                width: 100%;
                height: 100%;
               
    
                .wingbody{
                    position: relative;
                    width: 250px;
                    height: 400px;
    
    
                    .female{
                        width: 300px;
                        height: 500px;
                        flex-shrink: 0;
                        object-fit: contain ;
                        z-index: 3;
                        position: relative;
                    }
        
                    .wing{
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        transition: transform 0.5s;
                    }
                     .Wing1 {
                            top: 60px;
                            left: 60px;
                            z-index: 1;
                            object-fit: contain;
                            animation: flapWing1 2s infinite alternate ease-in-out;
                        }
                        .Wing2 {
                            right: 0;
                            object-fit: contain;
                            top: 60px;
                            z-index: 1;
                            transform: rotate(90deg);
                            animation: flapWing2 2s infinite alternate ease-in-out;
                        }
                }
               
                
    
            }
    
            .homecenter{
                flex: 2;
                width: 100%;
                align-items: center;
                display: flex;
               // height: 500px;
                //margin-top: 200px;
    
                .textCenter{
                    display: inline-flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    height: auto;
                  
                    
                    span{
                        width: 50px;
                        height: 23px;
                        display: flex;
                        padding: 4px 8px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 100px;
                        background: rgba(255, 255, 255, 0.30);
        
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.15px;
                        text-transform: uppercase;
                    }
        
                    h4{
                        color: #43C4B2;
                        font-family: Poppins;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
        
                    h1{
                        text-align: justify;
                        display: flex;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 100%;
                        letter-spacing: -0.3px;
                        transition: background-color 2s ease;
                    }
        
                    button{
                        width: 236px;
                        height: 56px;
                        display: flex;
                        padding: 16px 32px;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        background: #43C4B2;
                        margin-top: 40px;
                        border: none;
        
        
        
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                    }
                }
             
            }
    
            .homeright{
                flex: 1;
                height: 100%;
                display: flex;
                margin-top: 80px;
    
                .wingbody{
                    width: 200px;
                    height: 300px;
                    position: relative;
    
                    .male{
                        width: 200px;
                        height: 300px;
                        object-fit: contain;
                        flex-shrink: 0;
                        position: relative;
                        }
    
                        .wing{
                            position: absolute;
                            width: 100px;
                            height: 100px;
                            transition: transform 1s;
                        }
                         .Wing1 {
                                top: 20px;
                                left: 10px;
                                z-index: 1;
                                object-fit: contain;
                                animation: flapWing1 2s infinite alternate ease-in-out;
                            }
                            .Wing2 {
                                right: 20px;
                                object-fit: contain;
                                top: 20px;
                                z-index: 1;
                                transform: rotate(90deg);
                                animation: flapWing2 2s infinite alternate ease-in-out;
                            }
                }
                
    
                
                
            }
    
            .mobileImg{
                display: none;
            }
    
        
    .navLink{
        text-decoration: none;
    }
       
    }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media (min-width: 300px) and (max-width: 600px) {
    .Homepage{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 100px);
        width: 100%;
        position: relative;

        .homecenter{
            display: flex;
            width: 250px;
            flex-direction: column;
            align-items: flex-start;
            // justify-content: center;
            padding-top: 40px;
            margin: 0;
            // background-color: brown;
            
            .textCenter{

                h1{
                    text-align: justify;
                    color: #FFF;
                    align-self: stretch;
                    font-family: Poppins;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.01px;
                }
    
                button{
                    display: flex;
                    padding: 10px 12px 10px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    align-self: stretch;
                    background: #43C4B2;
                }
            }

        
        }

        .homeleft{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 150px;
            height: 237px;

            .wingbody{
            width: 150px;
            height: 237px; 

            .female{
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                object-fit: contain ;
                z-index: 3;
                position: relative;
            }


            .wing{
                position: absolute;
                width: 50px;
                height: 50px;
                transition: transform 0.5s;
            }
             .Wing1 {
                    top: 25px;
                    left: 25px;
                    z-index: 1;
                    object-fit: contain;
                    animation: flapWing1 1s infinite alternate ease-in-out;
                }
                .Wing2 {
                    top: 25px;
                    right: 25px;
                    object-fit: contain;
                    z-index: 1;
                    transform: rotate(90deg);
                    animation: flapWing2 1s infinite alternate ease-in-out;
                }

            }
          
            // flex-shrink: 0;
        }
        .homeright{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 150px;
            height: 237px;

            .wingbody{
            width: 150px;
            height: 237px; 

            .male{
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                object-fit: contain ;
            }


            .wing{
                position: absolute;
                width: 50px;
                height: 50px;
                transition: transform 0.5s;
            }
             .Wing1 {
                    top: 25px;
                    left: 30px;
                    z-index: 1;
                    object-fit: contain;
                    animation: flapWing1 1s infinite alternate ease-in-out;
                }
                .Wing2 {
                    top: 25px;
                    right: 30px;
                    object-fit: contain;
                    z-index: 1;
                    transform: rotate(90deg);
                    animation: flapWing2 1s infinite alternate ease-in-out;
                }

            }
          
            // flex-shrink: 0;
        }

        // .mobileImg{
        //     display: block;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     width: 100%;
        //     padding: 20px;
        //     margin-top: -20px;
            
        //     // padding-left: 100px;
        //     // padding-right: 100px;
        //     transition: all 0.3s ease;
          

        //     img{
        //         //background-color: crimson;
        //         width: 150px;
        //         height: 200px;
        //         flex-shrink: 0;
              
        //     }
        // }
    }
  }