.AngelDonate{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: white;
    color: black;

    .donateInfo{
        display: flex;
        padding: 180px 0px;
        flex-direction: column;
        align-items: end;
        gap: 44px;
        width: 80%;
       

        h3{
          color: #000;
          text-align: right;
          font-family: Poppins;
          font-size: 60px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.3px;
        }

        .donateType{
          display: flex;
          width: 1181px;
          justify-content: flex-end;
          align-items: center;
          align-content: center;
          gap: 44px;
          flex-wrap: wrap;
 
            .type {
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // text-align: center;
                // gap: 10px;
                // width: auto;
                // height: 60px;
                // background-color: #000;
                // color: white;

            .typeContent{
              display: flex;
              background-color: #000;
              color: white;
              padding: 12px 24px;
              justify-content: center;
              align-items: center;
              gap: 24px;
              border-radius: 8px;
      
              span {
                color: #fff;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-align: center;
                display: flex;
                align-items: center; 
                text-transform: uppercase;
              }
            
              p {
                color: #000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.024px;
            
                border-radius: 100px;
                background: #fff;
                display: flex;
                margin-top: 15px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                height: 25px;
                width: 25px;
              }
            }
        
              }
         
              
        }

        .type:hover {
          border-radius: 10px;
            border: 3px solid #43C4B2;
          }
          .type:hover span {
            color:#43C4B2;
          }
          
          .type:hover p {
            color: #43C4B2
          }
    }
}


@media  screen and (max-width: 1024px) {
  
}

/* MEDIA QUERIES (SMALL DEVICES)*/
@media screen and  (max-width: 600px) {

  .AngelDonate{
    display: inline-flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100vw;
    background-color: #FFF;
    flex-shrink: 0;

    .donateInfo{
      width: 90%;
    
      display: flex;
     // align-items: start;
      justify-content: flex-start;
      background-color: #FFF;

      h3{
        color: #000;
        font-family: Poppins;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: 115%; /* 39.1px */
        letter-spacing: 0.085px;
        align-self: flex-start;
      }

      .donateType{
       // position: relative;
       background-color: transparent;
       width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        .type{
          flex: 1 0 0;

          .typeContent{
            //position: absolute;
            align-self: stretch;
            display: flex;
            padding: 8px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;
            border-radius: 8px;
            background: #000;
         
           

            span{
              color: #FFF;
              font-family: Poppins;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 0.048px;
            }
          }
         
        }
      }
      
    }
  }
}