.campPage{
    background-color: #FFF;
    width: 100%;
    height: 100vh;
   margin-top: 100px;
    display:flex ;
    flex-direction: column;

   
    .campPageBody{
        background-color: #FFF;
        width: 90%;
        //height: 100vh;
        margin: auto;
       gap: 100px;
        display:grid ;
        grid-template-columns: 0.5fr 2fr 0.1fr ; 
 
        
        

        .PageContainerleft{
            flex: 2;
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
           gap: 40px;
            width: 100%;
            position: sticky;
        left: 0;

            .back{
                width: 40px;
                height: 40px;
                
            }
    
            // position:fixed
    
            .return{
      
                left: 20px;
                width:34px;
                height: 34px;
              
              }
        }
    
        .PageContainerRight{
            width: 100%;
            overflow: auto;
            max-height: 100vh;
            .largeView{
                width: 100%;
                margin: auto;
                display: flex;
            }
            //padding: 20px;

            .mobileView{
                display: none;
            }
        }

        .exRight{

        }
    }

   .postStatus{
    display: none;
   }
   
}
.navLink{
    text-decoration: none;
    color: inherit;
}




  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 640px) {
  .campPage{
    background-color: #1aafc9;
    width: 100%;
    height: 100%;
    justify-content: center;
   //position: relative;
    display:flex ;
    flex-direction: column;
    padding: 0;
    

    .navheader-{
        display: none ;
    }

   
    .campPageBody{
        background-color: #FFF;
        width: 100%;
        height: auto;
       display:flex ;
        flex-direction: column;
        gap: 20px;
        margin: 0;
        padding: 0;
        
        

        .PageContainerleft{
            flex: 2;
            display: none;
            margin: 0;
            padding: 0;
            background-color: #1c177d;
            align-items: center;
            justify-content: center;
            // flex-direction: column;
            width: 100%;
            height: 394px;
            flex-shrink: 0;
            align-self: center;
    
           // position: static;
    
            .back{
                display: none;
              }
        }
    
        .PageContainerRight{
            //display: none;
            display: flex;
           flex: 5;
            background-color: #ffffff;
            flex-direction: column;
            gap: 40px;
            height: auto;
            width: 100%;
            // margin: auto;
            // overflow: visible;
            // padding: 0;
    
    

            .largeView{
                display: none;
            }
            .mobileView{
                display: block;
                margin-top: 50px;
                padding: 0;
                width: 100%;
                
                .mobileViewBody{
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }

    .postStatus{
        display: block;
    }

    .joinTab{
        display: none;
    }

    .tabFooter{
   display: none;
    }
   
   
}
  }