.loginwrapper {
    
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: auto;
   // margin-top: -100px;
   display: flex;
   flex-direction: column;
  
    .top-img{
    //background-color: #43C4B2;
  
      .GroundImgtop {
        height: 100px;
        width: 200px;
        top: 0;
       // position: absolute;
        //background-color: #b410ab;
  
      }
    }

    .bottom_img{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 100px;
     // background-color: red;
      position: absolute;
      bottom: 0;
      overflow: visible;
      
        .GroundImgbuttom {
          //background-color: green;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 100%;
          width: 300px;
          //object-fit: cover;
      //margin-bottom: 40px;
      //margin-left: 86%;
      //transform: rotate(5deg);
      // bottom: 0;
      // position: absolute;
   
    }
    }
   

  .mobileLogo{
    display: none;
  }
    .loginHeader {
    position: absolute;
    top: 0;
      //background-color: #b61717;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      //margin: 20px;
      text-align: center;
      align-items: center;
      padding-left: 50px;
      padding-right: 50px;
     
  
      .left {
        width: 20px;
        height: 20px;
        margin-left: -30px;
       
        //background: red;
      }
  
      .right {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 20px;
        height: 100%;
        margin: 0;
        padding: 0;
        // flex-direction: row;
        font-size: 12px;
        overflow: hidden;
  
        .txt {
          color: #000;

          /* Subtitle/subtitle 1 */
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.024px;
        }
  
        .sign_up {
          display: flex;
          padding: 10px 25px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background: #43C4B2;
          text-decoration: none;

          color: #FFF;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.024px;
        }
      }
    }
  
    .login {
     // background-color: gold;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
     // margin-top: 50px;
    //   overflow: hidden;
  
      .formContainer {
        width: 40%;
        height: 100%;
        margin: 0;
        position: relative;
       // height: 537px;
       //margin-top: -150px;
        flex-shrink: 0;
        padding: 10px;
        //border: 2px solid black;
        //background-color: #3d820b;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        //justify-content: center;
        margin: auto;
        h1 {
          font-family: Poppins;
          font-size: 30px;
          font-weight: 300;
          line-height: 90px;
          letter-spacing: -0.005em;
          text-align: left;
          cursor: pointer;
  
          .dot{
           
            color: #43C4B2;
            background-color: #FFFFFF;
            //font-size: 60px;
        }

        }

      h6{
        display: none;
      }
  
        form{
          //display: none;
           display: inline-flex;
           flex-direction: column;
           justify-content: center;
           //align-items: flex-start;
           gap: 10px;
           //background-color: brown;
           width: 95%;
          height: auto;
           padding: 10px;



          .form_Box{
            //background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;


            .form__group {
              position: relative;
              padding: 10px 0 0;
              width: 100%;
              display: flex;
              // background-color: #cfd3d6;
              // height: 45px;
              //max-width: 180px;
            }
            
            .form__field {
              font-family: inherit;
              width: 100%;
              border: none;
              border-bottom: 2px solid #000;
              border-radius: 0;
              outline: 0;
              font-size: 13px;
              color: #0d0b0b;
              padding: 10px 0;
              background: transparent;
              transition: border-color 0.2s;
            }
            
            .form__field::placeholder {
              color: transparent;
              
            }
            
            .form__field:placeholder-shown ~ .form__label {
              font-size: 12px;
              cursor: text;
              top: 20px;
              color: #000;
              padding-left: 10px;
            }
            
            .form__label {
              position: absolute;
              top: 0;
              display: block;
              transition: 0.2s;
              font-size: 17px;
              color: transparent;
              pointer-events: none;
              
            } 
           
            
            .form__field:focus {
              padding-bottom: 6px;
              font-weight: 300;
              border-width: 2px;
              border-image: linear-gradient(to right, #43C4B2, #43C4B2);
              border-image-slice: 1;
            }
            
            .form__field:focus ~ .form__label {
              position: absolute;
              top: 0;
              display: block;
              transition: 0.2s;
              font-size: 12px;
              color: #43C4B2;
              font-weight: 700;
            }
            
            /* reset input */
            .form__field:required, .form__field:invalid {
              box-shadow: none;
            }
            .viewPassword{
              color: black;
              margin-left: -5%;
              margin-top: 2%;
            }
            .active{
              color: #43C4B2;
            }

            .error{
              border-bottom:2px solid red;
              
            }

            .ErrorIcon{
              color: red;
              margin-left: -5%;
            }

          }
         
         
        .error-message{
          color: red;
          font-family: Poppins;
          font-size: 15px;
          font-weight: 200;
          line-height: 36px;
          letter-spacing: 0em;
        }
        .bottomText{
          display: none;
        }
     

      .setLogin{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .check{
          display: inline-flex;
          align-items: center;
          gap: 22px;
          .checkbox{
            color: #43C4B2;
          }
          span{
            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.014px;
          }
        }

        span{
          color: #43C4B2;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 0.014px;
        }
      }


  
      button{
        
        display: flex;
        width: 50%;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 2px solid #43C4B2;
        color: #43C4B2;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.175px;
        text-transform: uppercase;
        align-self: center;
        //margin-top: 10px;
        background-color: #FFF;
        margin-top: -20px;
      }
      

      .loginIcons{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        align-self: center;

        .loginIcon{
          width: 20px;
          height: 20px;
          color: #000;
        }
      }

      }

      .footer{
       position: absolute;
       bottom: 10px;

    }
      }
    }
    .navLink{
      text-decoration: none;
      color: #43C4B2;
  }
  .error-message{
    color: red;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 200;
    line-height: 36px;
    letter-spacing: 0em;
  }



  }

  @media (max-width: 1000px) {
    .loginwrapper {
    
      height: 100vh;
      width: 100%;
      padding: 0;
      margin: auto;
     // margin-top: -100px;
     display: flex;
     flex-direction: column;
    
      .top-img{
      //background-color: #43C4B2;
    
        .GroundImgtop {
          height: 100px;
          width: 200px;
          top: 0;
         // position: absolute;
          //background-color: #b410ab;
    
        }
      }
  
      .bottom_img{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100px;
       // background-color: red;
        position: absolute;
        bottom: 0;
        overflow: visible;
        
          .GroundImgbuttom {
            //background-color: green;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            width: 300px;
            ///object-fit: cover;
        //margin-bottom: 40px;
        //margin-left: 86%;
        //transform: rotate(5deg);
        // bottom: 0;
        // position: absolute;
     
      }
      }
     
  
    .mobileLogo{
      display: none;
    }
      .loginHeader {
      position: absolute;
      top: 0;
        //background-color: #b61717;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        //margin: 20px;
        text-align: center;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
       
    
        .left {
          width: 20px;
          height: 20px;
          margin-left: -30px;
         
          //background: red;
        }
    
        .right {
          display: flex;
          align-items: center;
          justify-content: center;
  
          gap: 20px;
          height: 100%;
          margin: 0;
          padding: 0;
          // flex-direction: row;
          font-size: 12px;
          overflow: hidden;
    
          .txt {
            color: #000;
  
            /* Subtitle/subtitle 1 */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.024px;
          }
    
          .sign_up {
            display: flex;
            padding: 10px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: #43C4B2;
            text-decoration: none;
  
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.024px;
          }
        }
      }
    
      .login {
       // background-color: gold;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
       // margin-top: 50px;
      //   overflow: hidden;
    
        .formContainer {
          width: 60%;
          height: 100%;
          margin: 0;
          position: relative;
         // height: 537px;
         //margin-top: -150px;
          flex-shrink: 0;
          padding: 10px;
          //border: 2px solid black;
          //background-color: #3d820b;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          //justify-content: center;
          margin: auto;
          h1 {
            font-family: Poppins;
            font-size: 30px;
            font-weight: 300;
            line-height: 90px;
            letter-spacing: -0.005em;
            text-align: left;
            cursor: pointer;
    
            .dot{
             
              color: #43C4B2;
              background-color: #FFFFFF;
              //font-size: 60px;
          }
  
          }
  
        h6{
          display: none;
        }
    
          form{
            //display: none;
             display: inline-flex;
             flex-direction: column;
             justify-content: center;
             //align-items: flex-start;
             gap: 10px;
             //background-color: brown;
             width: 95%;
            height: auto;
             padding: 10px;
  
  
  
            .form_Box{
              //background-color: red;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 10px;
  
  
              .form__group {
                position: relative;
                padding: 10px 0 0;
                width: 100%;
                display: flex;
                // background-color: #cfd3d6;
                // height: 45px;
                //max-width: 180px;
              }
              
              .form__field {
                font-family: inherit;
                width: 100%;
                border: none;
                border-bottom: 2px solid #000;
                outline: 0;
                font-size: 13px;
                color: #0d0b0b;
                padding: 10px 0;
                background: transparent;
                transition: border-color 0.2s;
              }
              
              .form__field::placeholder {
                color: transparent;
                
              }
              
              .form__field:placeholder-shown ~ .form__label {
                font-size: 12px;
                cursor: text;
                top: 20px;
                color: #000;
                padding-left: 10px;
              }
              
              .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 17px;
                color: transparent;
                pointer-events: none;
                
              }
             
              
              .form__field:focus {
                padding-bottom: 6px;
                font-weight: 300;
                border-width: 2px;
                border-image: linear-gradient(to right, #43C4B2, #43C4B2);
                border-image-slice: 1;
              }
              
              .form__field:focus ~ .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 12px;
                color: #43C4B2;
                font-weight: 700;
              }
              
              /* reset input */
              .form__field:required, .form__field:invalid {
                box-shadow: none;
              }
              .viewPassword{
                color: black;
                margin-left: -5%;
                margin-top: 2%;
              }
              .active{
                color: #43C4B2;
              }
  
              .error{
                border-bottom:2px solid red;
                
              }
  
              .ErrorIcon{
                color: red;
                margin-left: -5%;
              }
  
            }
           
           
          .error-message{
            color: red;
            font-family: Poppins;
            font-size: 15px;
            font-weight: 200;
            line-height: 36px;
            letter-spacing: 0em;
          }
          .bottomText{
            display: none;
          }
       
  
        .setLogin{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
  
          .check{
            display: inline-flex;
            align-items: center;
            gap: 22px;
            .checkbox{
              color: #43C4B2;
            }
            span{
              color: #000;
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              letter-spacing: 0.014px;
            }
          }
  
          span{
            color: #43C4B2;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.014px;
          }
        }
  
  
    
        button{
          
          display: flex;
          width: 50%;
          padding: 12px 24px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          border: 2px solid #43C4B2;
          color: #43C4B2;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.175px;
          text-transform: uppercase;
          align-self: center;
          //margin-top: 10px;
          background-color: #FFF;
          margin-top: -20px;
        }
        
  
        .loginIcons{
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          width: 50%;
          align-self: center;
  
          .loginIcon{
            width: 20px;
            height: 20px;
            color: #000;
          }
        }
  
        }
  
        .footer{
         position: absolute;
         bottom: 10px;
  
      }
        }
      }
      .navLink{
        text-decoration: none;
        color: #43C4B2;
    }
    .error-message{
      color: red;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 200;
      line-height: 36px;
      letter-spacing: 0em;
    }
  
  
  
    }
  }



/* MEDIA QUERIES (SMALL DEVICES) */
@media (max-width: 640px) {
    .loginwrapper {
      //background: #932d2d;
      // margin-top: -100px;
      // height:100vh;
       height: 900px;
       width: 100%;
       display: flex;
       flex-direction: column; 
       //align-items: center;
       justify-content: center;
       overflow: hidden;
       position: relative;
       padding: 0;
       //padding: 20px;

       .top-img{
    
        .GroundImgtop {
          height: 100px;
          width: 150px;
          top: 0;
          position: absolute;
          z-index: 99;
          //object-fit: covers;
    
        }
      }
  
      .bottom_img{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 90%;
        height: 100px;
        //background-color: red;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: visible;
        
          .GroundImgbuttom {
          //   background-color: green;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            width: 200px;
            object-fit: contain;
        //margin-bottom: 40px;
        //margin-left: 86%;
        //transform: rotate(5deg);
        // bottom: 0;
        // position: absolute;
     
      }
      }


        .loginHeader{
         display: none;
        }
        .mobileLogo{
          display: flex;
          width: 84.703px;
          height: 24px;
          flex-shrink: 0;
          margin-top : 20px;
          align-self: center;
      }
      h6{
        color: #808080;
        align-self: start;
        padding: 0;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.048px;
        margin-left: 25px;
        
      }
        .login {
            width: 100%;
            //height: 100%;
            display: flex;
            flex-direction: column;
            //background-color: #de4a4a;
            position: relative;
            
            .formContainer{
             // background: #763333;
              //display: none;
              display: flex;
              flex-direction: column;
              width: 100%;
              //height: 95%;
              gap: 10px;
              //align-self: stretch;
              justify-content: center;
              //align-items: center;
              margin: 0;
              padding: 20px;
                h1{
                  color: #000;
                  text-align: center;
                  font-family: Poppins;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 275;
                  line-height: normal;
                }
                h6{
                  display: block;
                }

                form{
                    background-color: #FFF;
                    width: 90%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: auto;
                    overflow: visible;
                    //margin: 10px;
                    //padding: 10px;
                    // position: relative;

                    .form_Box{
                      //background-color: red;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      gap: 10px;
          
                      .groupedform{
                        border-radius: 8px;
                        width: 100%;
                        //border: 2px solid red;
                        background-color: #F6F6F6;
                      }
                      
                      .form__field {
                        font-family: inherit;
                        width: 100%;
                        height: 50px;
                        // padding-top: 20px;
                        border: none;
                       // border:  2px solid #000 !important;
                        //border-bottom: 2px solid #000;
                        outline: 0;
                        font-size: 13px;
                        color: #0d0b0b;
                        padding: 10px;
                        border-radius: 8px;
                        background: #F6F6F6;
                        //padding-left: 10px;
                        transition: border-color 0.2s;

                      }
                      
                      .form__field::placeholder {
                        color: transparent;
                        padding: 10px;
                        //background-color: brown;
                        //height: 100%;
                      }
                      
                      .form__field:placeholder-shown ~ .form__label {
                        font-size: 10px;
                        cursor: text;
                        top: 30px;
                        color: #808080;
                        padding-left: 10px;
                        //padding-top: 10px;
                      }
                      
                      .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 17px;
                        color: transparent;
                        pointer-events: none;
                        
                      }
                     
                      
                      .form__field:focus {
                        padding-bottom: 6px;
                        font-weight: 300;
                        border-width: 2px;
                        border-image: linear-gradient(to right, #43C4B2, #43C4B2);
                        border-image-slice: 1;
                        //border-radius: 118px !important;
                     border: 2px solid #43C4B2;
                        
                      }
                      
                      .form__field:focus ~ .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 12px;
                        color: #43C4B2;
                        font-weight: 700;
                        padding-top: 15px;
                        padding-left: 10px;
                        //background-color: blue;
                      }
                      
                      /* reset input */
                      .form__field:required, .form__field:invalid {
                        box-shadow: none;

                      }
                      .viewPassword{
                        color: black;
                        margin-left: -10%;
                        margin-top: 4%;
                        font-size: 20px;
                      }
                      .active{
                        color: #43C4B2;
                      }
          
                      .error{
                        border:2px solid red;
                        
                        
                      }
          
                      .ErrorIcon{
                        color: red;
                        margin-left: -10%;
                        margin-top: 5%;
                      }
          
                    }

                    
                      .setLogin{
                        display: flex;
                        flex-direction: row;
                        font-size: 11px;
                        font-family: Poppins;
                        font-weight: 300;
                        gap: 40px;
                        margin: 0;
                        padding: 0;
                        
                        .check{display: none;}
                        .fmp {
                          color: #43C4B2;
                          font-family: Poppins;
                          font-size: 11px;
                          font-style: normal;
                          font-weight: 300;
                          line-height: normal;
                          letter-spacing: 0.048px;
                          }
                      }
                      .bottomText{
                        
                        display: flex;
                        // position: absolute;
                        // bottom: 100px;
                        // left: 0;
                        padding-top: 80%;
                        // background: goldenrod;
                         align-self: center;
                         justify-content: center;
                        // width: 100%;
                        // // margin-top: 100px;
                        // // margin-bottom: -50px;

                        .innerButtomtext{
                          width: 100%;
                          margin: auto;
 
                          h5{
                            color: #000;

                            /* Overline/overline 1 */
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.15px;
                            text-transform: uppercase;
                          
                        }

                        }
                
                       
                    }
                      button{
                        display: flex;
                        width: 312px;
                        padding: 12px 10px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 100px;
                        background: #43C4B2;
                        color: #FFF;

                        /* Button/button 1 */
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                        margin-top: -40%;
                        // position: absolute;
                        // bottom: 0;
                      }

                      .loginIcons{
                        display: none;
                      }
                }

                .footer{
                  display: none;
                }
            }

        }

    }
}