.Leftbar{
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-radius: 20px;
    gap: 20px;
    overflow: scroll;
    background: #fff;
     padding-top: 10px;
    // padding-bottom: 40px;
   //border: 2px solid black;
   

      .logoImage{
        display: flex;
        width: 150px;
        height: 30px;
       

        
        img{
            width: 100%;
            height: 100%;
            flex-shrink: 0;
            object-fit: contain;
           
        }
      }


        
        .top{
            width: 90%;
           // margin-top: -35px;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap:20px;

           .profileInfo{
            display: flex;
            gap: 50px;
            width: 100%;
    
            .profileImg{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                object-fit: cover;
                align-self: center;
                margin-left: 25%;
              align-items: center; 
              // margin-top: -20px;
                border: 5px solid white;
                
            }

           }

           .editProfile{
            //padding-top: 100px;
           //margin-left:50px ;
          // padding-left: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 20px;
            width: 100%;
            height: 24px;
            background-color: #FFF;
            

            .editIcon{
                
                width: 20px;
                height: 20px;  
                
            }
        }
    
          
    
            .name{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.005em;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                .userName{
                    display: flex;
                    align-items: center;
                    color: #000;
                    text-align: center;
                    
                    /* Headers/H6 */
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.03px;
                }
    
                p{
                    color: #000;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.03px;
                    margin: 0;
                }
    
                .info{
                    display: grid;
                    grid-template-columns: 2fr 2fr;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                    //gap: 24px;
                    padding: 5px;
    
                    
                    span{
                        color: rgba(0, 0, 0, 0.50);
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.125px;
                        text-transform: uppercase;
                    }
                    .Icon{
                        font-size: 15px;
                        color: rgba(0, 0, 0, 0.50);
                    }
    
                    .address, .date{
                       display: flex;
                       gap: 5px;
                       margin: 0;
                    }
    
                }
    
                .icons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;

                    .ICON{
                        width: 20px;
                        height: 20px;
                        color: #000;
                    }
                }
            }
    
            .engagements{
                display: flex;
                flex-direction: row;
                width: 100%;
                //margin-left: 40px;
                justify-content: space-between;
                align-items: center;
                background-color: black;
                border-radius: 5px;
                height: 60px;
    
                .vertical-line {
                    width: 2px;
                    height: 30px;
                    background-color: rgb(248, 245, 245);}
    
                .engagement{
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    padding-top: 10%;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    
                    
                    
    
                    span{
                        // width: 23px;
                        // height: 30px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 30px;
                        text-align: center;
                        color: white;
                    }
    
                    p{                     
                        //width: 31px;
                        //height: 18px;
    
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 18px;
                    text-align: center;
                    letter-spacing: 0.0125em;
                    text-transform: uppercase;
                    color: #808080;
                    cursor: pointer;
                    }
                }
            }

            .CASbtn{
                cursor: pointer;
                display: flex;
                height: 50px;
                padding: 12px 32px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border-radius: 8px;
                background: #E7FFFC;

                color: #43C4B2;

                /* Button/button 1 */
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.175px;
                text-transform: uppercase;

                .mobile-icon{
                    display: none;
                }
            }
            .CASbtn:hover{
                opacity:9;
                color: #EBFFFA;
                background-color: #43C4B2;
            }



        }
       
    
    
            .center{
                display: flex;
                flex-direction: column;
                width: 90%;
               // background-color: blueviolet;
               
                .nav{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100% ;
                    height: 40px;
                    //background-color: #FF6B6B;
                    // display: flex;
                    // padding: 12px 24px;
                    // align-items: center;
                    // width: 100%;
                    // gap: 10px;
                    // background-color: green;
                    position: relative;
    
                    span{
                        display: flex;
                        align-items: center;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.0015em;
                        cursor: pointer;
                    }
                    
                    .activeLine{
                        height: 100%;
                        width: 5px;
                        border-radius: 100px 0px 0px 100px;
                        background: #43C4B2;
                        position: absolute;
                        right: 0;
                    }
                   
                    .messageNot{
                       
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #43C4B2;
                        color: black;
                        cursor: pointer;
                       justify-content: center;
                       align-items: center;
                        display: flex;
                        position: absolute;
                        right: 2px;
                    //     font-size: 15px;
    
                    }

                    .NavIcon{
                        width: 20px;
                        height: 20px;  
                    }

                    .anaIcon{
                        border: 1px solid black;
                    }
                  
    
                } 
                .nav:hover{
                   color: #43C4B2;
                    
                }

                .CACbtn{
                    margin-top: 10px;
                    background-color: #EBFFFA;
                    color: #43C4B2;
                    font-family: 'Poppins';
                    font-weight: 500;
                    line-height: 21px;
                    font-size: 15px;
                    width: 100%;
                    height: 45px;
                    display: flex;
                    border: none;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    cursor: pointer;
                    gap: 10px;
                    text-transform: uppercase;

                    .mobile-icon{
                        display: none;
                    }
                    
                }
                button:hover{
                    opacity:9;
                    color: #EBFFFA;
                    background-color: #43C4B2;
                }
                
            }
    
              
                .logout{
                   // padding-top: 10px;
                    // margin-bottom: 10px;
                    //margin-left: -150px;
                    cursor: pointer;
                    display: flex;
                    justify-self: flex-start;
                    align-self: flex-start;
                    padding-left: 10px;
                    color: #FF6B6B;;
                    .icon{
                    transform: rotate(-180deg);
                    }
    
                    span{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.0015em;
                    }
                
            }

            .CACbtn:hover{
                opacity:9;
                color: #EBFFFA;
                background-color: #43C4B2;
            }
    
            .navLink{
                text-decoration: none;
                color: inherit;
            }
            .active{
                color:  #43C4B2;
                //opacity: 0;
                transition: opacity 3.0s ease;
            }
      

      
       
}


@media  screen and (max-width: 1024px) {
    // .container.testimonials_container {
    //     width: 60%;
    // }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media  (max-width: 600px) {
    .Leftbar{

        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        border-radius: 0px 32px 32px 0px;
        gap: 20px;
        overflow: scroll;
        //background: #ae2222;
       // margin-left: -20px;
         padding-top: 10px;
        // padding-bottom: 40px;
       //border: 2px solid black;
       
    
          .logoImage{
            display: none;
      
          }
    
    
            
            .top{
                width: 90%;
                margin-top: 10px;
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                gap:20px;
    
               .profileInfo{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;    
                .profileImg{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                    align-self: center;
                    margin-left: 0;
                  align-items: flex-start; 
                  // margin-top: -20px;
                    border: 5px solid white;
                    
                }
    
               }
    
               .editProfile{
                display: none;
            }
        
              
        
                .name{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.005em;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
    
                    .userName{
                        display: flex;
                        align-items: flex-start;
                        color: #000;
                        text-align: start;
                        justify-content: flex-start;
                        width: 100%;
                        
                        /* Subtitle/subtitle 1 */
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.024px;
                    }
        
                    p{
                        color: #000;
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.03px;
                        margin: 0;
                    }
        
                    .info{
                        display: grid;
                        grid-template-columns: 2fr 2fr;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        justify-content: space-between;
                        //gap: 24px;
                        padding: 5px;
        
                        
                        span{
                            color: rgba(0, 0, 0, 0.50);
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.125px;
                            text-transform: uppercase;
                        }
                        .Icon{
                            font-size: 15px;
                            color: rgba(0, 0, 0, 0.50);
                        }
        
                        .address, .date{
                           display: flex;
                           gap: 5px;
                           margin: 0;
                        }
        
                    }
        
                    .icons{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;
    
                        .ICON{
                            width: 20px;
                            height: 20px;
                            color: #000;
                        }
                    }
                }
        
                .engagements{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    //margin-left: 40px;
                    justify-content: space-between;
                    align-items: center;
                    background-color: black;
                    border-radius: 5px;
                    height: 60px;
        
                    .vertical-line {
                        width: 2px;
                        height: 30px;
                        background-color: rgb(248, 245, 245);}
        
                    .engagement{
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        padding-top: 10%;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        
                        
                        
        
                        span{
                            // width: 23px;
                            // height: 30px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 30px;
                            text-align: center;
                            color: white;
                        }
        
                        p{                     
                            //width: 31px;
                            //height: 18px;
        
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 18px;
                        text-align: center;
                        letter-spacing: 0.0125em;
                        text-transform: uppercase;
                        color: #808080;
                        cursor: pointer;
                        }
                    }
                }
    
                .CASbtn{
                    cursor: pointer;
                    display: flex;
                    height: 50px;
                    padding: 12px 32px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;
                    border-radius: 8px;
                    background: #43C4B2;
    
                    color: #FFF;
    
                    /* Button/button 1 */
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;

                    .mobile-icon{
                        display: block;
                        width: 24px;
                        height: 24px;
                    }
                }
                .CASbtn:hover{
                    opacity:9;
                    color: #EBFFFA;
                    background-color: #43C4B2;
                }
    
    
    
            }
           
        
        
                .center{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                   // background-color: blueviolet;
                   
                    .nav{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        width: 100% ;
                        height: 40px;
                        position: relative;
        
                        span{
                            display: flex;
                            align-items: center;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: 0.0015em;
                            cursor: pointer;
                        }
                        
                        .activeLine{
                            height: 100%;
                            width: 5px;
                            border-radius: 100px 0px 0px 100px;
                            background: #43C4B2;
                            position: absolute;
                            right: 0;
                        }
                       
                        .messageNot{
                            padding: 4px 12px;
                            width: 20px;
                            height: 20px;
                            border-radius: 100px;
                            background-color: #43C4B2;
                            color: black;
                            cursor: pointer;
                           justify-content: center;
                           align-items: center;
                            display: flex;
                            position: absolute;
                            right: 2px;
                        //     font-size: 15px;
        
                        }
    
                        .icon{
                            width: 20px;
                            height: 20px;  
                        }
    
                        .anaIcon{
                            border: 1px solid black;
                        }
                      
        
                    } 
                    .nav:hover{
                       color: #43C4B2;
                        
                    }
    
                    .CACbtn{
                        margin-top: 10px;
                        background-color: #43C4B2;
                        color: #FFF;
                        font-family: 'Poppins';
                        font-weight: 500;
                        line-height: 21px;
                        font-size: 14px;
                        width: 100%;
                        height: 45px;
                        display: flex;
                        border: none;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        cursor: pointer;
                        gap: 10px;
                        text-transform: uppercase;


                        .mobile-icon{
                            display: flex;
                            width: 24px;
                            height: 24px;
                        }
                        
                    }
                    button:hover{
                        opacity:9;
                        color: #EBFFFA;
                        background-color: #43C4B2;
                    }
                    
                }
        
                  
                    .logout{
                       margin-top: 10%;
                        cursor: pointer;
                        display: flex;
                        justify-self: flex-start;
                        align-self: flex-start;
                        padding-left: 10px;
                        color: #FF6B6B;;
                        .icon{
                        transform: rotate(-180deg);
                        }
        
                        span{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: center;
                            letter-spacing: 0.0015em;
                        }
                    
                }
    
                .CACbtn:hover{
                    opacity:9;
                    color: #EBFFFA;
                    background-color: #43C4B2;
                }
        
                .navLink{
                    text-decoration: none;
                    color: inherit;
                }
                .active{
                    color:  #43C4B2;
                    //opacity: 0;
                    transition: opacity 3.0s ease;
                }
          
    
          
           
    }
  }