.Leftbar{
    width: 350px;
    height: auto;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    padding-top: 10px;
    background-color: white;
    position:sticky;
     top:0;
    justify-content: space-between;
    ::-webkit-scrollbar {
        width: 5px;
      }
      ::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
      ::-webkit-scrollbar-thumb {
        background-color: rgb(179, 179, 179);
      }

    .top{
        

        .profileImg{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
           margin-left: 100px;
            position: relative;
            border: 5px solid white;
        }

        .name{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.005em;
            display: flex;
            flex-direction: column;

            .icon{
                color: #68EDCB;
                font-size: 16px;
            }

            p{
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                align-items: start;
                text-align: start;
            }

            .info{
                display: flex;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 15px;
                align-items: center;
                justify-content: center;
                letter-spacing: 0.0125em;
                text-transform: uppercase;
                gap: 10px;
                color: #808080;


                .Icon{
                    font-size: 20px;
                }

                .address{
                    margin-right: 20px;
                }

            }

            .icons{
                display: flex;
                gap: 20px;
                height: 20px;
                width: 300px;
                align-items: center;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 120px;
            }
        }

        .engagements{
            display: flex;
            flex-direction: row;
            width: 200px;
            margin-left: 80px;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            border-radius: 5px;
            height: 72px;

            .vertical-line {
                width: 2px;
                height: 20px;
                background-color: rgb(248, 245, 245);}

            .engagement{
                display: flex;
                flex-direction: column;
                padding: 10px;
                align-items: center;
                align-items: center;
                
                
                

                span{
                    width: 23px;
                    height: 30px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    color: white;
                }

                p{                     
                    //width: 31px;
                    //height: 18px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.0125em;
                text-transform: uppercase;
                color: #808080;
                cursor: pointer;
                }
            }
        }
    }
   


        .center{
            display: flex;
            flex-direction: column;
            margin-top: 70px;
           
            .nav{
                margin-bottom: 25px;
                display: flex;
                gap: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.0015em;
                cursor: pointer;
                text-align: center;
                align-items: center;
                
               
                p{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: #68EDCB;
                    color: black;
                    text-align: center;
                    cursor: pointer;
                    align-items: center;
                    margin-left: auto;
                    justify-content: center;
                }

            }
            .nav:hover{
                color: #68EDCB;
                
            }
           .nav.clicked {
            color: #68EDCB;
           }
            button{
                background-color: #EBFFFA;
                color: #68EDCB;
                font-family: 'Poppins';
                font-weight: 500;
                line-height: 21px;
                font-size: 16px;
                width: 256px;
                height: 45px;
                display: flex;
                border: none;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                margin-left: 30px;
                margin-top: 30px;
                cursor: pointer;
            }
        }

          
            .logout{
                padding-top: 100px;
                margin-bottom: 10px;
                cursor: pointer;


                display: flex;
                align-items: center;
                color: #FF6B6B;;
                .icon{
                transform: rotate(-180deg);
                }

                span{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.0015em;
                }
            
        }

        .navLink{
            text-decoration: none;
            color: inherit;
        }
        .active{
            color:  #68EDCB;
        }
       
}