.Sidebar{
    display: flex;
    width: 300px;
    flex-direction: column;
 
       .logoImage{
         display: flex;
         width: 171.93px;
         height: 35px;
         margin-bottom: 20px;
         
         img{
             width: 171.93px;
             height: 35px;
             flex-shrink: 0;
            
         }
       }
 
 
         
         .Sidebar_top{
             width: 280px;
             //margin-top: -35px;
             display: inline-flex;
             flex-direction: column;
             align-items: center;
             gap: 12px;
             background-color: #FFF;
             border: 1.5px solid #43C4B2;
             border-radius: 16px;
             padding-top: 20px;
             //position: fixed;
 
            .profileInfo{
     
             .profileImg{
                 width: 120px;
                 height: 120px;
                 border-radius: 50%;
                 object-fit: cover;
              // margin-left: 60px;
               align-items: center; 
                //margin-top: -20px;
                // border: 5px solid white;
                 
             }
 
            }
     
             .name{
                 //padding: 20px;
                //  display: flex;
                //  align-items: center;
                display: flex;
                width: 90%;
                 flex-direction: column;
                //background: blueviolet;
                  gap: 10px;

              .user_name{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
                //background-color: burlywood;

                

                span{
                    color: #000;
                    text-align: center;
                    
                    /* Headers/H6 */
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.03px;
                }
                //background-color: burlywood;
              }
     
                 p{
                     color: #000;
                     font-family: Poppins;
                     font-size: 12px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: normal;
                     letter-spacing: 0.03px;
                     width: 100%;
                     margin: 0;
                     padding: 0;
                 }
     
                 .info{
                     display: grid;
                     grid-template-columns: 2fr 2fr;
                     align-items: center;
                     width: 90%;
                     //justify-content: space-between;
                     //gap: 5px;
                     //padding: 5px;
                     //background-color: red;
     
                     .infoAddLeft, .infoDateRight{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        //background: burlywood;
                        span{
                            color: rgba(0, 0, 0, 0.50);
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.125px;
                            text-transform: uppercase;

                            white-space: nowrap;     
                            overflow: hidden;    
                            text-overflow: ellipsis; 
                        }
                        .Icon{
                            font-size: 15px;
                            color: rgba(0, 0, 0, 0.50);
                        }
                     }
                    
     
                 }
     
                 .icons{
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 90%;
                     gap: 30px;
 
                     .ICON{
                         width: 22.8px;
                         height: 16px;
                         color: #000;
                     }
                 }
             }
     
             .engagements{
                 display: flex;
                 flex-direction: row;
                 width: 90%;
                 //margin-left: 40px;
                 justify-content: center;
                 align-items: center;
                 background-color: black;
                 overflow: hidden;
                 border-radius: 5px;
                 height: 70px;
     
                 .vertical-line {
                     width: 2px;
                     height: 20px;
                     background-color: rgb(248, 245, 245);}
     
                 .engagement{
                     display: flex;
                     flex-direction: column;
                     padding: 10px;
                     align-items: center;
                     justify-content: center;
                    //background-color: blueviolet;
                    padding-top: 20px;
                     //width: 80%;
                     margin: auto;
                     height: 100%;
                     
                     
     
                     span{
                         width: 23px;
                         height: 30px;
                         font-family: 'Poppins';
                         font-style: normal;
                         font-weight: 500;
                         font-size: 20px;
                         line-height: 30px;
                         text-align: center;
                         color: white;
                     }
     
                     p{                     
                         //width: 31px;
                         //height: 18px;
     
                     font-family: 'Poppins';
                     font-style: normal;
                     font-weight: 400;
                     font-size: 12px;
                     line-height: 18px;
                     text-align: center;
                     letter-spacing: 0.0125em;
                     text-transform: uppercase;
                     color: #808080;
                     cursor: pointer;
                     }
                 }
             }
 
 
             .mailIcon{
                cursor: pointer;
                 display: flex;
                 width: 52px;
                 height: 45px;
                 padding: 1px 0.4px 0px 1px;
                 justify-content: center;
                 align-items: center;
                 flex-shrink: 0;
                 color: #43C4B2;
             }
         }
        
     
     
             .navLink{
                 text-decoration: none;
                 color: inherit;
             }
             .active{
                 color:  #43C4B2;
                 //opacity: 0;
                 transition: opacity 3.0s ease;
             }
       
 
       
        
 }
 
 
 @media  screen and (max-width: 1024px) {
     // .container.testimonials_container {
     //     width: 60%;
     // }
   }
   
   /* MEDIA QUERIES (SMALL DEVICES)*/
   @media screen and  (max-width: 640px) {
    .Sidebar{
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: #FFF;
        padding: 0;
        margin: auto !important;
     
           .logoImage{
             display: none;
             width: 171.93px;
             height: 35px;
             margin-bottom: 20px;
             
             img{
                 width: 171.93px;
                 height: 35px;
                 flex-shrink: 0;
                
             }
           }
     
     
             
             .Sidebar_top{
                 width: 100%;
                 //margin-top: -35px;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 gap: 12px;
                 background-color: #FFF;
                 border: 1.5px solid #43C4B2;
                 border-radius: 16px;
                 padding: 20px;
                 margin: auto !important;
                 //position: fixed;
     
                .profileInfo{
         
                 .profileImg{
                     width: 60px;
                     height: 60px;
                     border-radius: 50%;
                     object-fit: cover;
                  // margin-left: 60px;
                   align-items: center; 
                    //margin-top: -20px;
                    // border: 5px solid white;
                     
                 }
     
                }
         
                 .name{
                     //padding: 20px;
                    //  display: flex;
                    //  align-items: center;
                    display: flex;
                    width: 90%;
                     flex-direction: column;
                    //background: blueviolet;
                      gap: 10px;
    
                  .user_name{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 100%;
                    //background-color: burlywood;
    
                    
    
                    span{
                        color: #000;
                        text-align: center;
                        
                        /* Headers/H6 */
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.03px;
                    }
                    //background-color: burlywood;
                  }
         
                     p{
                         color: #000;
                         font-family: Poppins;
                         font-size: 12px;
                         font-style: normal;
                         font-weight: 400;
                         line-height: normal;
                         letter-spacing: 0.03px;
                         width: 100%;
                         margin: 0;
                         padding: 0;
                     }
         
                     .info{
                         display: grid;
                         grid-template-columns: 2fr 2fr;
                         align-items: center;
                         width: 90%;
                         //justify-content: space-between;
                         //gap: 5px;
                         //padding: 5px;
                         //background-color: red;
         
                         .infoAddLeft, .infoDateRight{
                            display: flex;
                            align-items: center;
                            gap: 2px;
                            //background: burlywood;
                            span{
                                color: rgba(0, 0, 0, 0.50);
                                font-family: Poppins;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 0.125px;
                                text-transform: uppercase;
    
                                white-space: nowrap;     
                                overflow: hidden;    
                                text-overflow: ellipsis; 
                            }
                            .Icon{
                                font-size: 15px;
                                color: rgba(0, 0, 0, 0.50);
                            }
                         }
                        
         
                     }
         
                     .icons{
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         width: 90%;
                         gap: 30px;
     
                         .ICON{
                             width: 22.8px;
                             height: 16px;
                             color: #000;
                         }
                     }
                 }
         
                 .engagements{
                     display: flex;
                     flex-direction: row;
                     width: 90%;
                     //margin-left: 40px;
                     justify-content: center;
                     align-items: center;
                     background-color: black;
                     overflow: hidden;
                     border-radius: 5px;
                     height: 70px;
         
                     .vertical-line {
                         width: 2px;
                         height: 20px;
                         background-color: rgb(248, 245, 245);}
         
                     .engagement{
                         display: flex;
                         flex-direction: column;
                         padding: 10px;
                         align-items: center;
                         justify-content: center;
                        //background-color: blueviolet;
                        padding-top: 20px;
                         //width: 80%;
                         margin: auto;
                         height: 100%;
                         
                         
         
                         span{
                             width: 23px;
                             height: 30px;
                             font-family: 'Poppins';
                             font-style: normal;
                             font-weight: 500;
                             font-size: 20px;
                             line-height: 30px;
                             text-align: center;
                             color: white;
                         }
         
                         p{                     
                             //width: 31px;
                             //height: 18px;
         
                         font-family: 'Poppins';
                         font-style: normal;
                         font-weight: 400;
                         font-size: 12px;
                         line-height: 18px;
                         text-align: center;
                         letter-spacing: 0.0125em;
                         text-transform: uppercase;
                         color: #808080;
                         cursor: pointer;
                         }
                     }
                 }
     
     
                 .mailIcon{
                    cursor: pointer;
                     display: flex;
                     width: 52px;
                     height: 45px;
                     padding: 1px 0.4px 0px 1px;
                     justify-content: center;
                     align-items: center;
                     flex-shrink: 0;
                     color: #43C4B2;
                 }
             }
            
         
         
                 .navLink{
                     text-decoration: none;
                     color: inherit;
                 }
                 .active{
                     color:  #43C4B2;
                     //opacity: 0;
                     transition: opacity 3.0s ease;
                 }
           
     
           
            
     }  
   }