.Pricing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 100px;
    background: #FFF;

    .Pricingcont{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        

        .pricingHeader{
            flex-direction: column;
            padding: 40px 243.5px 0 243.5px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            display: flex;
            width: 100%;
            // background-color: #43C4B2;
            

            .header{
                display: flex;
                width: 300px;
                justify-content: center;
                gap: 10px;
                h4{
                    color: #000;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.03px;
               
                }
            }

         

            h3{
                align-self: flex-start;
                // width: 700px;
                // height: 140px;
                flex-shrink: 0;
                margin-bottom: 10px;
                color: #808080;
                font-family: Poppins;
                font-size:40px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 0.085px;
            }
        }

     

        .pricingCard{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000000;
            position: relative;
            width: 100%;
            height: auto;
            flex-shrink: 0;
            padding: 80px 243.5px 80px 243.5px;

            .cardTop{
                position: absolute;
                top: 0;
                margin-top: -20px;
                height: 50px;
                width: 100%;
                border-radius: 0 0 200% 200%; 
                background-color: #FFF; 
                overflow: hidden; 
            }

            .cardbuttom{
                position: absolute;
                bottom: 0;
                position: absolute;
                bottom: 0;
                margin-bottom: -20px;
                height: 50px;
                width: 100%;
                border-radius:200% 200%  0 0 ; 
                background-color: #FFF; 
                overflow: hidden; 
            }
            
            .cardBody{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                width: 100%;
                 height: 300px;
                

                .bodyleft, .bodyright{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;
                    align-self: stretch;
                    // width: 363px;

                    h4{
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.03px;
                        text-transform: uppercase;
                    }

                    p{
                        color: #43C4B2;
                        font-family: Poppins;
                        font-size: 50px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -1.44px;
                    }

                    h6{
                        color: #FFF;
                        align-self: stretch;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.035px;
                    }

                
                }

                // .bodyright{
                //     // width: 431px;
                //     display: flex;
                //     flex-direction: column;
                //     align-items: flex-start;
                //     gap: 32px;
                //     align-self: stretch;

                //     h4{
                //         color: #FFF;
                //         font-family: Poppins;
                //         font-size: 20px;
                //         font-style: normal;
                //         font-weight: 500;
                //         line-height: normal;
                //         letter-spacing: 0.03px;
                //         text-transform: uppercase;
                //     }

                //     p{
                //         color: #68EDCB;
                //         font-family: Poppins;
                //         font-size: 96px;
                //         font-style: normal;
                //         font-weight: 600;
                //         line-height: normal;
                //         letter-spacing: -1.44px;
                //     }

                //     h6{
                //         color: #FFF;
                //         align-self: stretch;
                //         font-family: Poppins;
                //         font-size: 14px;
                //         font-style: normal;
                //         font-weight: 400;
                //         line-height: normal;
                //         letter-spacing: 0.035px;
                //     }
                // }

                .horzontalLine{
                    width: 1px;
                    height: 239px;
                    background: #808080;
                }
            }
        }

       .pricingBody{
        width: 100%;
        padding: 40px 243.5px 138px 243.5px;

        .paymentTrans{
            display: grid;
            grid-template-columns: 2fr 2fr;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;  
            flex-shrink: 0;
   
            position: relative;

            .leftP{
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 10px;

                h4{
                  
                    color: #000;
                    font-family: Poppins;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: 0.085px;
                   
                }
            }

            .rightp{
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 10px;
                padding-bottom: 50px;
                
            h5{
                color: #000;
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.024px;
                padding: 10px;
            }

            .paystackLogo{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            
            }
            }

        
        }

        .transCont{
            width: 100%;
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #FFF;
            border-top: 1px solid #808080;
            border-bottom: 1px solid #808080;
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 40px;
            
            .TLeft{
                color: #000;
                text-align: right;
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
                width: 100%;
                height: auto;
                flex-shrink: 0;
                letter-spacing: 0.024px;
            }
            .TRight{
                color: #000;
                text-align: right;
                font-family: Poppins;
                font-size: 30px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
                letter-spacing: 0.085px;
                width: 100%;
            }


        }

        .optionTop{
            display: grid;
            grid-template-columns: 2fr 2fr;
            gap: 40px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
           margin-top: 20px;
            margin-bottom: 20px;
            background-color: #FFFFFF;
            .leftTop{
                color: #000;
                font-family: Poppins;
                font-size: 30px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
                letter-spacing: 0.085px;
                width: 100%;
                height: 100%;
               
            }

            .rightTop{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                 
                h4{
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    whitespace: nowrap;
                    width: 100%;
                    height: auto;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.024px;
                }

                .topBtn{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: flex-start;
                    gap: 50px;
                    width: 100%;
                    height: 50px;

                    .reg{
                        width: 100%;
                        height: 50px;
                        cursor: pointer;
                        display: flex;
                        // //padding: 16px 32px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        background: #43C4B2;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                    }

                    .conSup{
                        width: 100%;
                        height: 50px;
                        cursor: pointer;
                        display: flex;
                        // padding: 16px 32px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border: 1px solid #000;
                        color: #000;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .mobilePaymentTrans, .optionHeader{
            display: none;
        }
       }
    }
}


@media (min-width: 800px) and (max-width: 1200px) {
    .Pricing{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 100px;
    
        .Pricingcont{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: auto;
            
    
            .pricingHeader{
                flex-direction: column;
                padding: 40px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                display: flex;
                width: 100%;
                
    
                .header{
                    display: flex;
                    width: 300px;
                    justify-content: center;
                    gap: 10px;
                    h4{
                        color: #000;
                        text-align: center;
                        text-transform: uppercase;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.03px;
                   
                    }
                }
    
             
    
                h3{
                    align-self: flex-start;
                    // width: 700px;
                    // height: 140px;
                    flex-shrink: 0;
                    margin-bottom: 10px;
                    color: #808080;
                    font-family: Poppins;
                    font-size:40px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: 0.085px;
                }
            }
    
         
    
            .pricingCard{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #000000;
                position: relative;
                width: 100%;
                height: auto;
                flex-shrink: 0;
               padding: 40px;
    
                .cardTop{
                    position: absolute;
                    top: 0;
                    margin-top: -20px;
                    height: 50px;
                    width: 100%;
                    border-radius: 0 0 200% 200%; 
                    background-color: #FFF; 
                    overflow: hidden; 
                }
    
                .cardbuttom{
                    position: absolute;
                    bottom: 0;
                    position: absolute;
                    bottom: 0;
                    margin-bottom: -20px;
                    height: 50px;
                    width: 100%;
                    border-radius:200% 200%  0 0 ; 
                    background-color: #FFF; 
                    overflow: hidden; 
                }
                
                .cardBody{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    width: 100%;
                     height: 250px;
                    
    
                    .bodyleft, .bodyright{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        align-self: stretch;
                        // width: 363px;
    
                        h4{
                            color: #FFF;
                            font-family: Poppins;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.03px;
                            text-transform: uppercase;
                        }
    
                        p{
                            color: #43C4B2;
                            font-family: Poppins;
                            font-size: 50px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: -1.44px;
                        }
    
                        h6{
                            color: #FFF;
                            align-self: stretch;
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.035px;
                        }
    
                    
                    }
    
                    .horzontalLine{
                        width: 1px;
                        height: 239px;
                        background: #808080;
                    }
                }
            }
    
           .pricingBody{
            width: 100%;
          padding: 40px ;
          
    
            .paymentTrans{
                display: grid;
                grid-template-columns: 2fr 2fr;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;  
                flex-shrink: 0;
                padding: 0;
       
                position: relative;
    
                .leftP{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
    
                    h4{
                      
                        color: #000;
                        font-family: Poppins;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        letter-spacing: 0.085px;
                       
                    }
                }
    
                .rightp{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    padding-bottom: 50px;
                    
                h5{
                    color: #000;
                    width: 100%;
                    height: 100%;
                    flex-shrink: 0;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.024px;
                    padding: 10px;
                }
    
                .paystackLogo{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                }
                }
    
            
            }
    
            .transCont{
                width: 100%;
                height: auto;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: #FFF;
                border-top: 1px solid #808080;
                border-bottom: 1px solid #808080;
                display: grid;
                grid-template-columns: 2fr 2fr;
                gap: 20px;
                
                .TLeft{
                    color: #000;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                    width: 100%;
                    height: auto;
                    flex-shrink: 0;
                    letter-spacing: 0.024px;
                }
                .TRight{
                    color: #000;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                    letter-spacing: 0.085px;
                    width: 100%;
                }
    
    
            }
    
            .optionTop{
                display: grid;
                grid-template-columns: 2fr 2fr;
                gap: 20px;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: auto;
               margin-top: 20px;
                margin-bottom: 20px;
                background-color: #FFFFFF;
                .leftTop{
                    color: #000;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                    letter-spacing: 0.085px;
                    width: 100%;
                    height: 100%;
                   
                }
    
                .rightTop{
                    display: inline-flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                     
                    h4{
                        overflow: hidden;
                        color: #000;
                        text-overflow: ellipsis;
                        whitespace: nowrap;
                        width: 100%;
                        height: auto;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.024px;
                    }
    
                    .topBtn{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: flex-start;
                        gap: 20px;
                        width: 100%;
                        height: 50px;
    
                        .reg{
                            width: 100%;
                            height: 50px;
                            cursor: pointer;
                            display: flex;
                            // //padding: 16px 32px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            background: #43C4B2;
                            color: #FFF;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.175px;
                            text-transform: uppercase;
                        }
    
                        .conSup{
                            width: 100%;
                            height: 50px;
                            cursor: pointer;
                            display: flex;
                            // padding: 16px 32px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border: 1px solid #000;
                            color: #000;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.175px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
    
            .mobilePaymentTrans, .optionHeader{
                display: none;
            }
           }
        }
    } 
}

@media (min-width: 300px) and (max-width: 600px) {
        .Pricing{

            .Pricingcont{
               
                .pricingHeader{
                  padding: 20px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                   height: auto;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                  // background-color: violet;
        
                    .header{
                        display: flex;
                        width: 100%;
                        height: auto;
                        //background-color: chartreuse;
                        justify-content: flex-start;
                        gap: 10px;
                        align-items: center;

                        svg{
                            width: 99px;
                            height: 30px;
                        }
                        h4{
                            margin-top: 10px;
                            color: #000;
                            font-family: Poppins;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 110%; /* 35.2px */
                            letter-spacing: -0.16px;
                           
                       
                        }
                    }
        
                 
        
                    h3{
                        color: #808080;
                        width: 100%;
                        font-family: Poppins;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        letter-spacing: 0.048px;
                        //display: none;
                    }
                }
        

              

                .pricingCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    padding: 0;
                    margin-bottom: 0;
                   
                    //display: none;

                    .cardBody{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: auto;
                        padding: 20px;
                        background-color: #000;
                        

                        .bodyleft{
                            display: flex;
                            width: 100%;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                           margin-top: 50px;
                            align-self: stretch;
                            justify-content: center; 
                            

                            h4{
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 0.024px;
                                text-transform: uppercase;
                            }

                            p{
                                color: #43C4B2;
                                font-family: Poppins;
                                font-size: 40px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                letter-spacing: -0.6px;
                            }

                            h6{
                                color: #FFF;
                                align-self: stretch;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.048px;
                            }
                        }
                        .bodyright{
                            display: flex;
                            width: 100%;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            margin-bottom: 50px;
                            align-self: stretch;

                            h4{
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 0.024px;
                                text-transform: uppercase;
                            }

                            p{
                                color: #43C4B2;
                                font-family: Poppins;
                                font-size: 40px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                letter-spacing: -0.6px;
                            }

                            h6{
                                color: #FFF;
                                align-self: stretch;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.048px;
                            }
                        }

                        .horzontalLine{
                            width: 100%;
                            height: 2px;
                        }

                    }
                }

              .pricingBody{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0;
                .paymentTrans{
                    display: none;            
                }

                .mobilePaymentTrans{
                    width: 100vw;
                    padding: 20px;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;

                    .topTrans,.bottomTrans{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        align-self: stretch;
                        h3{
                            color: #000;
                            font-family: Poppins;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            width: 100%;
                        }
                        p{
                            color: #000;
                            width: 100%;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.048px;
                        }
                    }


                }
                .transCont{
                    display: none;
                }

                .optionTop{

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    align-self: stretch;
                    width: 100%;
                    height: auto;
                    // margin-bottom: 10px;
                    padding: 20px;

                    .leftTop{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;

                        h2{
                            color: #000;
                            font-family: Poppins;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }

                    .rightTop{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        align-self: stretch;
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;


                            h4{
                                color: #000;
                                //display: none;
                                width: 100%;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.048px;
                            }

                            .topBtn{
                                //display: none;
                                align-items: center;
                                gap: 20px;
                                width: 100%;
                                align-self: stretch;

                                .reg{
                                    display: flex;
                                    padding: 12px 16px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 16px;
                                    flex: 1 0 0;
                                    background: #43C4B2;
                                    width: 158px;
                                    height: 48px;
                                    color: #FFF;
                                    font-family: Poppins;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.15px;
                                    text-transform: uppercase;
                                }

                                .conSup{
                                    width: 158px;
                                    height: 48px;
                                    display: flex;
                                    padding: 12px 32px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 16px;
                                    flex: 1 0 0;
                                    border: 1px solid #000;

                                    color: #000;
                                    font-family: Poppins;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.15px;
                                    text-transform: uppercase;
                                }
                            }
                        
                    }
                }

                .optionHeader{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width:100%;
                    // margin-bottom: 10px;
                    padding: 20px;

                    h3{
                        color: #000;
                        font-family: Poppins;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }

                .option_tab{
                    padding: 20px;
                }
              }
            }
        }
  }