.Pricing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 100px;
    background: #FFF;

    .Pricingcont{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;

        .pricingHeader{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
           height: auto;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .header{
                display: flex;
                width: 302.031px;
                justify-content: center;
                gap: 10px;
                h4{
                    color: #000;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.03px;
               
                }
            }

         

            h3{
                width: 774px;
                height: 140px;
                flex-shrink: 0;
                margin-bottom: 10px;
                color: #808080;
                font-family: Poppins;
                font-size: 34px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.085px;
            }
        }

     

        .pricingCard{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000;
            position: relative;
            width: 100%;
            height: 720px;
            flex-shrink: 0;

            .cardTop{
                position: absolute;
                top: 0;
                margin-top: -10px;
                height: 100px;
                width: 100%;
                border-radius: 0 0 200% 200%; 
                background-color: #FFF; 
                overflow: hidden; 
            }

            .cardbuttom{
                position: absolute;
                bottom: 0;
                margin-bottom: -10px;
                height: 100px;
                width: 100%;
                border-radius: 100% 100% 0 0; 
                background-color: #FFF; 
                overflow: hidden; 
            }
            
            .cardBody{
                display: inline-flex;
                align-items: center;
                gap: 51px;

                .bodyleft{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;
                    align-self: stretch;
                    width: 363px;

                    h4{
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.03px;
                        text-transform: uppercase;
                    }

                    p{
                        color: #43C4B2;
                        font-family: Poppins;
                        font-size: 96px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -1.44px;
                    }

                    h6{
                        color: #FFF;
                        align-self: stretch;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.035px;
                    }

                
                }

                .bodyright{
                    width: 431px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;
                    align-self: stretch;

                    h4{
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.03px;
                        text-transform: uppercase;
                    }

                    p{
                        color: #68EDCB;
                        font-family: Poppins;
                        font-size: 96px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -1.44px;
                    }

                    h6{
                        color: #FFF;
                        align-self: stretch;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.035px;
                    }
                }

                .horzontalLine{
                    width: 1px;
                    height: 239px;
                    background: #808080;
                }
            }
        }

       .pricingBody{


        .paymentTrans{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1180px;
            height: 350px;
            gap: 40px;
            flex-shrink: 0;
            margin: 20px;
            background-color: transparent;
            position: relative;

            .leftP{
                display: flex;
                position: absolute;
                left: 0;
                top: 0;
                align-items:center ;
                justify-content: center;
                // padding: 10px;
                background-color: transparent;

                h4{
                  
                    color: #000;
                    font-family: Poppins;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: 0.085px;
                    width: 569px;
                    height: 100%;
                   
                }
            }

            .rightp{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                width: 570px;
                height: 295px;
                flex-shrink: 0;
                top: 0;
                right: 0;
                
            h5{
                color: #000;
                width: 570px;
                height: 100%;
                height: 295px;
                flex-shrink: 0;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.024px;
                padding: 10px;
            }
            }

            .paystackLogo{
                position: absolute;
                bottom: 0;
                right: 200px;
            }
        }

        .transCont{
            width: 100%;
            height: 200px;
            background-color: #FFF;
            padding: 20px;
            border-top: 1px solid #808080;
            border-bottom: 1px solid #808080;
            display: flex;
            
            .TLeft{
                color: #000;
                text-align: right;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 570px;
                height: 174px;
                flex-shrink: 0;
                letter-spacing: 0.024px;
            }
            .TRight{
                color: #000;
                text-align: right;
                font-family: Poppins;
                font-size: 34px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 0.085px;
                width: 569px;
            }


        }

        .optionTop{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 155px;
           margin-top: 20px;
           margin-bottom: 20px;
            background-color: #FFFFFF;
            .leftTop{
                color: #000;
                font-family: Poppins;
                font-size: 34px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 0.085px;
                padding-left: 20px;
                width: 400px;
            }

            .rightTop{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;

                h4{
                    overflow: hidden;
                    color: #000;
                    text-overflow: ellipsis;
                    whitespace: nowrap;
                    width: 570px;
                    height: 52px;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.024px;
                }

                .topBtn{
                    display: flex;
                    align-items: flex-start;
                    gap: 59px;
                   

                    .reg{
                        cursor: pointer;
                        display: flex;
                        padding: 16px 32px;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        background: #43C4B2;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                    }

                    .conSup{
                        cursor: pointer;
                        display: flex;
                        padding: 16px 32px;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        border: 1px solid #000;
                        color: #000;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .mobilePaymentTrans, .optionHeader{
            display: none;
        }
       }
    }
}

@media  screen and (max-width: 600px) {
        .Pricing{

            .Pricingcont{
                margin-top: -50px;
                .pricingHeader{
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                   height: 100px;
                    margin-bottom: 10px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                   // background-color: violet;
        
                    .header{
                        display: flex;
                        width: 100%;
                        //background-color: chartreuse;
                        justify-content: flex-start;
                        gap: 10px;
                        align-items: center;

                        svg{
                            width: 99px;
                            height: 30px;
                        }
                        h4{
                            margin-top: 5px;
                            color: #000;
                            font-family: Poppins;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 110%; /* 35.2px */
                            letter-spacing: -0.16px;
                           
                       
                        }
                    }
        
                 
        
                    h3{
                        color: #808080;
                        width: 100%;
                        font-family: Poppins;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.048px;
                        //display: none;
                    }
                }
        

              

                .pricingCard{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    margin-bottom: 0;
                    //display: none;

                    .cardBody{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: auto;
                        padding: 10px;
                        background-color: #000;
                        

                        .bodyleft{
                            display: flex;
                            width: 100%;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            margin-top: 100px;
                            align-self: stretch;
                            justify-content: center;
                            

                            h4{
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 0.024px;
                                text-transform: uppercase;
                            }

                            p{
                                color: #43C4B2;
                                font-family: Poppins;
                                font-size: 40px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                letter-spacing: -0.6px;
                            }

                            h6{
                                color: #FFF;
                                align-self: stretch;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.048px;
                            }
                        }
                        .bodyright{
                            display: flex;
                            width: 100%;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 5px;
                            margin-bottom: 100px;
                            align-self: stretch;

                            h4{
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 0.024px;
                                text-transform: uppercase;
                            }

                            p{
                                color: #43C4B2;
                                font-family: Poppins;
                                font-size: 40px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                letter-spacing: -0.6px;
                            }

                            h6{
                                color: #FFF;
                                align-self: stretch;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.048px;
                            }
                        }

                        .horzontalLine{
                            width: 100%;
                            height: 2px;
                        }

                    }
                }

              .pricingBody{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .paymentTrans{
                    display: none;            
                }

                .mobilePaymentTrans{
                    width: 100vw;
                    padding: 10px;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 44px;

                    .topTrans,.bottomTrans{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        align-self: stretch;
                        h3{
                            color: #000;
                            font-family: Poppins;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            width: 100%;
                        }
                        p{
                            color: #000;
                            width: 100%;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.048px;
                        }
                    }


                }
                .transCont{
                    display: none;
                }

                .optionTop{

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    align-self: stretch;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                    padding: 10px;

                    .leftTop{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;

                        h2{
                            color: #000;
                            font-family: Poppins;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }

                    .rightTop{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        align-self: stretch;
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;


                            h4{
                                color: #000;
                                //display: none;
                                width: 100%;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.048px;
                            }

                            .topBtn{
                                //display: none;
                                align-items: center;
                                gap: 20px;
                                width: 100%;
                                align-self: stretch;

                                .reg{
                                    display: flex;
                                    padding: 12px 16px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 16px;
                                    flex: 1 0 0;
                                    background: #43C4B2;
                                    width: 158px;
                                    height: 48px;
                                    color: #FFF;
                                    font-family: Poppins;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.15px;
                                    text-transform: uppercase;
                                }

                                .conSup{
                                    width: 158px;
                                    height: 48px;
                                    display: flex;
                                    padding: 12px 32px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 16px;
                                    flex: 1 0 0;
                                    border: 1px solid #000;

                                    color: #000;
                                    font-family: Poppins;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.15px;
                                    text-transform: uppercase;
                                }
                            }
                        
                    }
                }

                .optionHeader{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width:100%;
                    margin-bottom: 10px;
                    padding: 10px;

                    h3{
                        color: #000;
                        font-family: Poppins;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
              }
            }
        }
  }