


body {
    background: #ffffff;
    position: relative;
    
  
.Updateprofile{
    
    .updateContainer{
        display: flex;

        .updateContainerLeft{
            flex: 2;
        }
 

        .updateContainercenter{
        overflow-y: auto;
        height: calc(1000px - 60px);
        flex: 5;
        width: 100%;
        
        }
    }
}
}

@media  screen and (max-width: 1024px) {

  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
   
  }