.tophome{


    .largeTopbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 100;
        background-color: #000;

    .topLeft{
        // display: flex;
        width: 500px;
        height: 60px;
        display: flex;
        padding: 12px 24px;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        span{
        color: #FFF;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.024px;
        text-transform: uppercase;
        cursor: pointer;
        gap: 20px;
        }
.extraPopup{
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    padding: 10px ;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    width: 200px;
    height: auto;
    background-color: black;
    gap: 10px;


        .contact{
            width: 180px;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
           .span{
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
            letter-spacing: 0.024px;
            text-transform: uppercase;
           }
            img{
                width: 50px;
                height: 15px;
            }
        }
    
        .blog{
            padding: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 160px;
            height: 40px;
            .span{
                color: #FFF;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 200;
                line-height: normal;
                letter-spacing: 0.024px;
                text-transform: uppercase;
               }
        }

.contact:hover .span,
.blog:hover .span {
    color: black;
}

.contact:hover,
.blog:hover {
    background-color: white;
    border-radius: 10px;
}

}
        
    }

    .topcenter{
        display: flex;

        img{
            object-fit: cover;
            width: 173.014px;
            height: 48.715px;
            flex-shrink: 0;
            cursor: pointer;
        }
    }

    .topRight{
        display: flex;
        padding: 0px 48px;
        align-items: center;
        gap: 24px;

        .Search{
            display: flex;
            align-items: center;
            width: auto;
            border-radius: 5px;
            color: #FFF;
            gap: 10px;
            padding: 5px;

            span{
                color: #FFF;
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.024px;                    
            }
        }

        span{
            color: #FFF;
            text-transform: uppercase;
            font-family: Poppins;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.024px;
            cursor: pointer;
            
        }

        .sign-up{
            border-radius: 100px;
            background: #43C4B2;
            width: 164px;
            height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
    }

    .navlink{
        text-decoration: none;
    }
 
}
.opensearch{
    // position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.472);
    //margin-top: 100px;
}
    .mobileTopbar{
        display: none;
        width: 100vw;
        height: 100px;
        position: fixed;
        z-index: 100;
        top: 0;
        .innerbar{
            display: flex;
            width: 100%;
            height: 100%;
            padding: 20px 24px;
            align-items: center;
            background: #fff;
            box-shadow: 0px 6px 12px 0px rgba(67, 196, 178, 0.08);
            justify-content: space-between;
            gap: 10px;
            flex: 1 0 0;
        }
        .menushow{
            display: flex;
            width: 100%;
            height: 100vh;
            background-color: #000000a4;
        }
    }

    }



@media  screen and (max-width: 1024px) {
    // .container.testimonials_container {
    //     width: 60%;
    // }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {

    .tophome{

        .largeTopbar {
            display: none; /* Hide the large top bar */
          }
        
          .mobileTopbar {
           
            display: block; /* Show the mobile top bar */
          }
    }
 
    
  }