.TopBar{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;

    .Icon{
        width: 20px;
        height: 20px;
        color: #68EDCB;
    }

    .topRight{
        padding-left: 350px;
        display: flex;
        align-items: center;
        gap: 20px;
   
    .searchbar{
        display: flex;
        height: 45px;
        width: 400px;
        background-color: #f3f3f3;
        border-radius: 30px;
        display: flex;
        box-sizing: border-box;
        align-items: center;

        .searchIcon {
            font-size: 25px !important;
            margin-left: 10px;
            color: #68EDCB;
          }
          
          .searchInput {
            border: none;
            width: 85%;
            background-color: #f3f3f3;
          }
          
          .searchInput:focus {
            outline: none;
          }

        }
    }

//     .topCenter{

//     padding-left: 250px;
    

// }

    .topLeft{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        width: 70px;
        height: 45px;
        align-items: center;
        margin-right: 10px;
        gap: 10px;
        justify-content:space-between ;
         margin-right: 20px;
          
        
        .Icon{
            height: 25px;
            width: 25px;
            color: #68EDCB;
            position: relative;
        }

        .topbarIconBadge{
            width: 15px;
            height: 15px;
            background-color:  #68EDCB;;
            border-radius: 50%;
            color: white;
            position: absolute;
           top: 7px;
            right: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
        }
    }


    .DonorRight{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        cursor: pointer;

        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.0125em;
            text-transform: uppercase;
            color: #000000;
            text-align: center;
            margin: 0 ; 
        }

        span{
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 12px 24px;
            width: 162px;
            height: 45px;
            background: #68EDCB;
            border-radius: 8px;
            text-transform: uppercase;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.0125em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0 ; 
        }
    }
}