.Guarantee{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #43C4B2;
    padding: 150px 243.5px 150px 243.5px;
    gap: 10px;

    .GuaranteeContent{
        //position: relative;
        // z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        height: auto;
        width: 100%;
        background-color: transparent;

        .topLeft{
            top: 0;
            left: 0;
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 24px;
            border-radius: 4px;
            background: #FFF;

            span{
                color: #43C4B2;
                font-family: Poppins;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.03px;
            }
        }

        h4{
            color: #FFF;
            font-family: Poppins;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.085px;
        }

        p{
            color: #FFF;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 250;
            line-height: normal;
            letter-spacing: 0.085px;
        }

        .Guaranteebuttom{
            display: flex;
            padding: 0px 24px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;
            align-self: stretch;

            span{
                color: #FFF;
                text-align: right;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.175px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        
    }

    
}



@media (min-width: 800px) and (max-width: 1200px) {
    .Guarantee{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #43C4B2;
        padding: 150px 40px 150px 40px;
        gap: 10px;
    
        .GuaranteeContent{
            //position: relative;
            // z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            height: auto;
            width: 100%;
            background-color: transparent;
    
            .topLeft{
                top: 0;
                left: 0;
                display: flex;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                gap: 24px;
                border-radius: 4px;
                background: #FFF;
    
                span{
                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.03px;
                }
            }
    
            h4{
                color: #FFF;
                font-family: Poppins;
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.085px;
            }
    
            p{
                color: #FFF;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 250;
                line-height: normal;
                letter-spacing: 0.085px;
            }
    
            .Guaranteebuttom{
                display: flex;
                padding: 0px 24px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 10px;
                align-self: stretch;
    
                span{
                    color: #FFF;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
            }
    
            
        }
    
        
    }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media (min-width: 300px) and (max-width: 600px) {
 
    .Guarantee{
        display: flex;
        width: 100%;
        height: auto;
        padding: 150px 40px 150px 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background: #43C4B2;

        .GuaranteeContent{
            display: flex;
            width: 336px;
            padding-left: 10px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            background-color: transparent;

            .topLeft{
                display: flex;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                background: #FFF;

                span{
                    color: #43C4B2;

                    /* Subtitle/subtitle 1 */
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.024px;
                }

            }

            h4{
                color: #FFF;
                font-family: Poppins;
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: 113.5%; /* 38.59px */
                letter-spacing: 0.085px;
                align-self: stretch;
            }

            p{
                color: #FFF;
                align-self: stretch;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.024px;
            }
            .Guaranteebuttom{
                display: flex;
                padding: 8px 24px;
                height: 40px;
                width: 238px;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                background: #FFF;
                color: #43C4B2;
                
                

                span{
                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.15px;
                    text-transform: uppercase;

                    .icon{
                        font-size:20px ;
                    }
                }
            }
           
        }
    }

  }