.Impact{
    display: flex;
    align-items: center;
    justify-content: center;
    //gap: 100px;
    height: auto;
    background: #000;
    padding-bottom: 50px;

   .impact_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    position: relative;
    //height: 100%;
    gap: 80px;
    //background-color: red;

    .angelImpact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: auto;
        gap: 20px;
        overflow: visible;
        padding-top: 50px;
        padding-bottom: 50px;
        // margin-left: 100px; 


        .impactText{
            display: flex;
            flex-direction: column;
            text-align: end;
            gap: 10px;
            width: 100%;
            justify-content: flex-end;

            h1{
                color: #FFF;
                text-align: right;
                font-family: Poppins;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.3px;
            }

            span{
                color: #FFF;
                text-align: right;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .impact-Post{
            display: flex;
            // position: relative;
            // justify-content: center;
            align-items: center;
            justify-content: center;
             width: 100%;
             height: 100%;
 
              padding: 10px;


                .impactBox{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   flex-direction: column;
                   width: 200px;
                   height: auto;
                   margin: 0;
                   padding: 10px;
                   flex-shrink: 0;
                    border-radius: 8px;
                    background: #FFF;
                    overflow: hidden;
                    gap: 10px;
                    
            
                  
                   .impactboxImg{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 217px;
                   // padding: 5px;
                    margin: 0;
                    overflow: hidden;
                    border-radius: 4px;
                    //background-color: brown;
                     .profileImg{
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        height: 100%;
                        flex-shrink: 0;
                        border-radius: 4px;
                        object-fit: cover;
                        transition: transform 0.3s ease;
                        overflow: hidden;
                        
                    }
            
                   }
                    // .profileImg:hover{
                    //     transform: scale(1.1);
                    // }
            
            
            
                    .impactBody{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            //margin: 10px;
                            
                           
            
                        .name{
                            display: flex;
                            gap: 10px;
                           
                           
            
                            span{
                                color: #000;
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.014px;
                            }
            
                            .nameIcon{
                                display: flex;
                                width: 18px;
                                height: 17.308px;
                                padding-bottom: 0px;
                                justify-content: center;
                                align-items: center;
                                color: #43C4B2;
                            }
            
                        }
            
                        .address{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            margin-left: 10px;
                            .Icon{
                                width: 15px;
                                height: 15px;
                                color: #808080;
                            }
                            
                            span{
                                color: #808080;
                                /* Overline/overline 1 */
                                font-family: Poppins;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.15px;
                                text-transform: uppercase;
            
                            }
                        }
            
            
                        p{
                            margin-top: 10px;
                            color: #000;
                            flex-wrap: wrap;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.048px;
                        }
            
                    }
                }
              
                .viewbtn{

                    align-self: flex-start ;
                    justify-content: center;
                    display: flex !important; 
                    flex-direction: row;
                    gap: 10px;
                    width: 200px;
                    height: 37px;
                    //background-color: blueviolet;

                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;

                    .mobile-arrow{
                       display: none;
                    }
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                    }
                }


                .impactBox:hover{
                    border: 2px solid #43C4B2; 
                }

                .impactBox:hover .profileImg{
                    transform: scale(1.2);
                    border-radius: 5px;
                   overflow: hidden;
                }
                .impactBox:hover .impactboxImg {
                    //transform: scale(1.2);
                    border-radius: 5px;
                    //background-color: red;
                   overflow: hidden;
                }

                .impactBox:hover .viewbtn{
                    color: white;
                    background-color: #43C4B2;
           
            }
        
            .viewbtn:hover{
                border-radius: 100px;
                
            }
        }
 
        
       .showmore{
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: uppercase;
        margin-bottom: 20px;
        
        color: #FFF;

        /* Body/Body 2 */
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.035px;
       }

        .viewAll{
            display: flex;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 100px;
            background: #FFF;

            color: #000;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.175px;
            text-transform: uppercase;
        }
    }

    .swiper-button-prev{
        height: 20px;
        width: 20px;
        border-radius: 100%;
        padding: 5px;
        color: white;
         position: absolute;
         margin-left: -13%;
         margin-top: -9px;
         //cursor: pointer;
         transition: background-color 0.3s;
         padding-left: 7px;
      
    }

    .swiper-button-next{
        height: 20px;
        width: 20px;
        border-radius: 100%;
        padding: 5px;
        color: white;
         position: absolute;
         margin-right: -13%;
         margin-top:-9px ;
         cursor: pointer;
         padding-right: 6px;
         transition: background-color 0.3s;  
    
    }

     .swiper-button-next:hover, .swiper-button-prev:hover{
        background-color: #FFF;
        color: #000;
    }

   }



   .navlink{
    text-decoration: none;
   }
   .mobileImpactText{
    display: none;
   }
//    .custom-next{
//     background-color: #df1010;
//    }
}


@media (max-width: 1000px)  {
    .Impact{
        display: flex;
        align-items: center;
        justify-content: center;
        //gap: 100px;
        height: auto;
        background: #000;
       // position: relative;
    
       .impact_wrapper{
        display: flex;
        //flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        gap: 0;
    
        .angelImpact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:100%;
            height: auto;
            gap: 20px;
            overflow: visible;
            padding-top: 50px;
            padding-bottom: 50px;
            // margin-left: 100px; 
    
    
            .impactText{
                display: flex;
                flex-direction: column;
                text-align: end;
                gap: 10px;
                width: 100%;
                justify-content: flex-end;
    
                h1{
                    color: #FFF;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.3px;
                }
    
                span{
                    color: #FFF;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
    
            .impact-Post{
                display: flex;
                // position: relative;
                // justify-content: center;
                align-items: center;
                justify-content: center;
                 width: 100%;
                 height: 100%;
     
                  padding: 10px;
    
    
                    .impactBox{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                       flex-direction: column;
                       width: 200px;
                       height: auto;
                       margin: 0;
                       padding: 10px;
                       flex-shrink: 0;
                        border-radius: 8px;
                        background: #FFF;
                        overflow: hidden;
                        gap: 10px;
                        
                
                      
                       .impactboxImg{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 150px;
                       // padding: 5px;
                        margin: 0;
                        overflow: hidden;
                         .profileImg{
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            flex-shrink: 0;
                            border-radius: 4px;
                            object-fit: cover;
                            transition: transform 0.3s ease;
                            
                        }
                
                       }
                        // .profileImg:hover{
                        //     transform: scale(1.1);
                        // }
                
                
                
                        .impactBody{
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                //margin: 10px;
                                
                               
                
                            .name{
                                display: flex;
                                gap: 10px;
                               
                               
                
                                span{
                                    color: #000;
                                    font-family: Poppins;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                    letter-spacing: 0.014px;
                                }
                
                                .nameIcon{
                                    display: flex;
                                    width: 18px;
                                    height: 17.308px;
                                    padding-bottom: 0px;
                                    justify-content: center;
                                    align-items: center;
                                    color: #43C4B2;
                                }
                
                            }
                
                            .address{
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                margin-left: 10px;
                                .Icon{
                                    width: 15px;
                                    height: 15px;
                                    color: #808080;
                                }
                                
                                span{
                                    color: #808080;
                                    /* Overline/overline 1 */
                                    font-family: Poppins;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.15px;
                                    text-transform: uppercase;
                
                                }
                            }
                
                
                            p{
                                margin-top: 10px;
                                color: #000;
                                flex-wrap: wrap;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.048px;
                            }
                
                        }
                    }
                  
                    .btn{
                        display: flex;
                        gap: 10px;
                        width: 200px;
                        height: 37px;
    
                        color: #43C4B2;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                    }
    
                    .impactBox:hover .profileImg{
                        transform: scale(1.2);
                       overflow: hidden;
                    }
    
                    .impactBox:hover .btn{
                        color: white;
                        background-color: #43C4B2;
               
                }
            
                .btn:hover{
                    border-radius: 100px;
                }
            }
     
            
           .showmore{
            display: flex;
            align-items: center;
            gap: 10px;
            text-transform: uppercase;
            margin-bottom: 20px;
            
            color: #FFF;
    
            /* Body/Body 2 */
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.035px;
           }
    
            .viewAll{
                display: flex;
                padding: 10px 20px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                background: #FFF;
    
                color: #000;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.175px;
                text-transform: uppercase;
            }
        }
    
        .navArrow{
            display: none;
            font-size: 12px;
            color: #FFF;
            top: 100px;
            z-index: 99;
        }
       }
    
    
    
       .navlink{
        text-decoration: none;
       }
       .mobileImpactText{
        display: none;
       }
    //    .custom-next{
    //     background-color: #df1010;
    //    }
    }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media (max-width: 640px) {
    .Impact{
        display: flex;
        width: 100%;
        //padding: 30px;
        padding-bottom: 100px;
        flex-direction: column;
        align-items: center;
        //gap: 44px;
        height: auto;

        .impact_wrapper{
            width: 90%;
            //background-color: red;

            .angelImpact{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width:100%;
                height: auto;
                gap: 20px;
                overflow: visible;
                // margin-left: 100px; 
        
        
                .impactText{
                    display: none;
                    flex-direction: column;
                    text-align: end;
                    gap: 10px;
                    width: 100%;
                    justify-content: flex-end;
        
                    h1{
                        color: #FFF;
                        text-align: right;
                        font-family: Poppins;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.3px;
                    }
        
                    span{
                        color: #FFF;
                        text-align: right;
                        font-family: Poppins;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
    
                .mobileImpactText{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    gap: 10px;
                
    
                    h1{
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 34px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 115%; /* 39.1px */
                        letter-spacing: 0.085px;
                        align-self: stretch;
                    }
    
                    .sideText{
                        width: 100%;
                        align-items: flex-end;
                        justify-content: end;
                        h3{
                            color: #FFF;
                            text-align: right;
                            align-self: stretch;
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.15px;
                            text-transform: uppercase;
                        }
    
                    }
                    h4{
                        margin-top: 50px;
                        color: #FFF;
                        text-align: right;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.035px;
                    }
                   }
        
                .impact-Post{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     width: 100%;
                     height: 100%;
                     //background-color: gold;
                     padding: 0;
    
                        .impactBox{
                            position: relative;
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                           flex-direction: column;
                           width: 200px;
                           height: auto;
                           margin: 0;
                           //padding: 10px;
                           flex-shrink: 0;
                            border-radius: 8px;
                            //background: #851c1c;
                            overflow: hidden;
                            gap: 10px;
                    
                          
                           .impactboxImg{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 165px;
                           // padding: 5px;
                            margin: 0;
                            overflow: hidden;
                             .profileImg{
                                padding: 0;
                                margin: 0;
                                width: 100%;
                                height: 100%;
                                flex-shrink: 0;
                                border-radius: 4px;
                                object-fit: cover;
                                transition: transform 0.3s ease;
                                
                            }
                    
                           }
                            // .profileImg:hover{
                            //     transform: scale(1.1);
                            // }
                    
                    
                    
                            .impactBody{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: start;
                                    gap: 10px;
                                    //background-color: blueviolet;
                                    //margin: 10px;
                                    
                                   
                    
                                .name{
                                    display: flex;
                                    gap: 10px;
                                   
                                   
                    
                                    span{
                                        color: #000;
                                        font-family: Poppins;
                                        font-size: 12px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.014px;
                                    }
                    
                                    .nameIcon{
                                        display: flex;
                                        width: 18px;
                                        height: 17.308px;
                                        padding-bottom: 0px;
                                        justify-content: center;
                                        align-items: center;
                                        color: #43C4B2;
                                    }
                    
                                }
                    
                                .address{
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;
                                    margin-left: 10px;
                                    .Icon{
                                        width: 15px;
                                        height: 15px;
                                        color: #808080;
                                    }
                                    
                                    span{
                                        color: #808080;
                                        /* Overline/overline 1 */
                                        font-family: Poppins;
                                        font-size: 10px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: normal;
                                        letter-spacing: 0.15px;
                                        text-transform: uppercase;
                    
                                    }
                                }
                    
                    
                                p{
                                    margin-top: 0;
                                    color: #000;
                                    flex-wrap: wrap;
                                    font-family: Poppins;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    letter-spacing: 0.048px;
                                }
                    
                            }
                        }
                      
                        .btn{
                            display: flex;
                            text-align: start;
                            align-items: center;
                            justify-content: start;
                            padding: 0;
                            gap: 10px;
                            width: 200px;
                            height: 37px;
        
                            color: #43C4B2;
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.175px;
                            text-transform: uppercase;
                            //background-color: blue;

                            .pc-arrow{
                                display: none;
                            }

                            .mobile-arrow{
                                display: flex;
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .impactBox:hover .profileImg{
                            transform: none;
                           overflow: hidden;
                        }

                        .impactBox:hover{
                            border: none;
                        }
        
                        .impactBox:hover .btn{
                            color: #43C4B2  ;
                            background-color: transparent;
                   
                    }
                }
          
                
               .showmore{
                display: none;
                align-items: center;
                width: 140px;
                height: 48px;
                padding: 12px 10px;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                color: #FFFFFF;
               }
        
                .viewAll{
                    display: flex;
                    padding: 12px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 100px;
                    background: #FFF;
        
                    color: #000;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                }
            }
        
            .swiper-button-prev , .swiper-button-next{
                display: none;
            }
        }
    
      
     
    
  
    }
  }