.Impact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #000;

    .angelImpact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:90%;
        height: auto;
        margin-top: 60px;
        // margin-left: 100px;


        .impactText{
            display: flex;
            flex-direction: column;
            text-align: end;
            gap: 30px;

            h1{
                color: #FFF;
                text-align: right;
                font-family: Poppins;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.3px;
            }

            span{
                color: #FFF;
                text-align: right;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .impactPost{
            //display: flex;
            // justify-content: center;
             width: auto;
             height: auto;
              //padding: 10px;
               
                 
              
                
            .impactBox{
                display: flex;
                align-items: center;
                justify-content: center;
               flex-direction: column;
                width: 367px;
                height: auto;
                flex-shrink: 0;
                margin: 10px;

                border-radius: 8px;
                background: #FFF;
                overflow: hidden;

              
                img{
                    width: 343px;
                    height: 217px;
                    flex-shrink: 0;
                    margin: 12px;
                    border-radius: 4px;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                    
                }

                .profileImg:hover{
                    transform: scale(1.1);
                }



                .impactBody{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        margin: 10px;
                        
                       

                    .name{
                        display: flex;
                        gap: 10px;
                       
                       

                        span{
                            color: #000;
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.014px;
                        }

                        .nameIcon{
                            display: flex;
                            width: 18px;
                            height: 17.308px;
                            padding-bottom: 0px;
                            justify-content: center;
                            align-items: center;
                            color: #43C4B2;
                        }

                    }

                    .address{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        margin-left: 10px;
                        .Icon{
                            width: 15px;
                            height: 15px;
                            color: #808080;
                        }
                        
                        span{
                            color: #808080;
                            /* Overline/overline 1 */
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.15px;
                            text-transform: uppercase;

                        }
                    }


                    p{
                        margin-top: 10px;
                        color: #000;
                        flex-wrap: wrap;
                        font-family: Poppins;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.048px;
                    }

                }
            }

                .btn{
                    display: flex;
                    gap: 10px;
                    width: 200px;
                    height: 37px;

                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                }

                .btn:hover{
                    color: white;
                    background-color: #43C4B2;
                }
        
    
        }
 
        
        .viewMore{
            display: none;
            justify-content: center;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.035px;
        }

        .viewAll{
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: #FFF;
            width: 166px;
            height: 44px;
            margin-left: 520px;
            margin-top: 100px;
            margin-bottom: 50px;


            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.175px;
            text-transform: uppercase;
        }
    }

   .navlink{
    text-decoration: none;
   }
   .mobileImpactText{
    display: none;
   }
}


@media  screen and (max-width: 1024px) {
    // .container.testimonials_container {
    //     width: 60%;
    // }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {

        .Impact{
            display: inline-flex;
           // margin: 10px;
            margin-bottom: 30px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 29px;
            width: 100%;
            height: auto;
            background-color: #000;



            .angelImpact{
                display: flex;
                justify-content: center;
                width: 90%;
                // height: auto;
                // background-color: brown;

                .impactText{
                    display: none;
                }
               .mobileImpactText{
                display: block;
                display: flex;
                width: 360px;
                gap: 10px;
                padding: 0px 12px;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                h1{
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 115%;
                    align-self: stretch;
                    letter-spacing: 0.085px;
                }
                .sideText{
                    display: flex;
                    justify-content: flex-end;
                    //align-items: flex-end;
                    width: 100%;
                    

                    h3{
                        color: #FFF;
                        text-align: right;
                        align-self: stretch;
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.15px;
                        text-transform: uppercase;
                    }
                }
                h4{
                    color: #FFF;
                    text-align: right;
                    
                    /* Body/Body 2 */
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.035px;
                }
               }

               .impactPost{
               
                .slick-prev,
                .slick-next {
                display: none !important;
                }

                .impactBox{
                    display: flex;
                    width: 336px;
                    height: 350px;
                    padding: 12px 12px 16.692px 12px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    margin: 10px;
                    padding: 0;
                   background: #FFF;

                   img{
                    padding-top: 10px;
                    width: 312px;
                    height: 165px;
                    border-radius: 4px;
                   }
                   .impactBody{
                    display: flex;
                    align-items: start;
                    background-color: transparent;
                   }
                   .btn{
                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.15px;
                    text-transform: uppercase;
                    margin-left: -130px;
                   }
                }
            
               }
               .viewAll{
                border-radius: 100px;
                background: #FFF;
                margin-left: 100px;
                display: flex;
                padding: 10px 32px;
                justify-content: center;
                align-items: center;
                gap: 4px;

                span{
                    color: #000;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.15px;
                    text-transform: uppercase;
                }
            }
            }
        }
  }