
.Register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding-top: 50px;

    .arrow_top{
        width: 90%;
        background-color: transparent;
        .arrowIcon{
            width: 20px;
            height: 20px;
        }

    }
    .mobileLogo{
        display: none;
    }

    ._formBox{
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //background-color: aquamarine;
        margin-top: 5%;
        gap: 50px;

        .formHeader{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            //gap: 10px;
            //background-color: coral;

            h2{
            display:flex;
            //padding: 10px 4px;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: #000;
            font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: center;
            cursor: pointer;
            width: 100%;
            text-transform: uppercase;
            //background-color: red;
            .dot{
                color: #43C4B2;
            }
            }

            .formHeaderLogo{
                width: 150px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                //margin-top: -20px;
                //background-color: yellow;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
       

        .formBody{
            //background-color: burlywood;
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 10px;

            .loginText{
                display: flex;
                align-items: center;
                gap: 10px;
                
    
                h5{
                    color: #AAA;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.03px;
                  
                }
             
            }

            .form{
                display: flex;
                flex-direction: column;
              

                .NameForm{
                    display: grid;
                    grid-template-columns: 2fr 2fr;
                    align-items: center;
                    gap: 20px;
                   // background-color: brown;

                    .form__group {
                        position: relative;
                        padding: 10px 0 0;
                        width: 100%;
                        display: flex;
                        // background-color: #cfd3d6;
                        // height: 45px;
                        //max-width: 180px;
                      }
                      
                      .form__field {
                        font-family: inherit;
                        width: 100%;
                        border: none;
                        border-bottom: 2px solid #000;
                        border-radius: 0;
                        outline: 0;
                        font-size: 13px;
                        color: #0d0b0b;
                        padding: 10px 0;
                        background: transparent;
                        transition: border-color 0.2s;
                      }
                      
                      .form__field::placeholder {
                        color: transparent;
                        
                      }
                      
                      .form__field:placeholder-shown ~ .form__label {
                        font-size: 12px;
                        cursor: text;
                        top: 20px;
                        color: #000;
                        padding-left: 10px;
                      }
                      
                      .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 17px;
                        color: transparent;
                        pointer-events: none;
                        
                      }
                     
                      
                      .form__field:focus {
                        padding-bottom: 6px;
                        font-weight: 300;
                        border-width: 2px;
                        border-image: linear-gradient(to right, #43C4B2, #43C4B2);
                        border-image-slice: 1;
                      }
                      
                      .form__field:focus ~ .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 12px;
                        color: #43C4B2;
                        font-weight: 400;
                      }
                      
                      /* reset input */
                      .form__field:required, .form__field:invalid {
                        box-shadow: none;
                      }
                      .viewPassword{
                        color: black;
                        margin-left: -5%;
                        margin-top: 2%;
                      }
                      .active{
                        color: #43C4B2;
                      }
          
                      .error{
                        border-bottom:2px solid red;
                        
                      }
          
                      .ErrorIcon{
                        color: red;
                        margin-left: -5%;
                      }
          
                }

                .detailsForm{
                    .form__group {
                        position: relative;
                        padding: 10px 0 0;
                        width: 100%;
                        display: flex;
                        // background-color: #cfd3d6;
                        // height: 45px;
                        //max-width: 180px;
                      }
                      
                      .form__field {
                        font-family: inherit;
                        width: 100%;
                        border: none;
                        border-bottom: 2px solid #000;
                        border-radius: 0;
                        outline: 0;
                        font-size: 13px;
                        color: #0d0b0b;
                        padding: 10px 0;
                        background: transparent;
                        transition: border-color 0.2s;
                        margin-top: 2%;
                        //background-color: red;
                      }
                      
                      .form__field::placeholder {
                        color: transparent;
                        
                      }
                      
                      .form__field:placeholder-shown ~ .form__label {
                        font-size: 12px;
                        cursor: text;
                        top: 20px;
                        color: #000;
                        padding-left: 10px;
                      }
                      
                      .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 17px;
                        color: transparent;
                        pointer-events: none;
                        
                      }
                     
                      
                      .form__field:focus {
                        padding-bottom: 6px;
                        font-weight: 300;
                        border-width: 2px;
                        border-image: linear-gradient(to right, #43C4B2, #43C4B2);
                        border-image-slice: 1;
                      }
                      
                      .form__field:focus ~ .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 12px;
                        color: #43C4B2;
                        font-weight: 400;
                      }
                      
                      /* reset input */
                      .form__field:required, .form__field:invalid {
                        box-shadow: none;
                      }
                      .viewPassword{
                        color: black;
                        margin-left: -5%;
                        margin-top: 2%;
                      }
                      .active{
                        color: #43C4B2;
                      }
          
                      .error{
                        border-bottom:2px solid red;
                        
                      }
          
                      .ErrorIcon{
                        color: red;
                        margin-left: -5%;
                        margin-top: 5%;
                      }
                }

                .Sign-button{
                    display: flex;
                    width: 364px;
                    padding: 12px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 8px;
                    border: 2px solid #43C4B2;
                    background-color: transparent;
                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                    margin-top: 20%;
                }

                .footer_{
                    margin-top: 10%;
                }
            }
        }

      
    }

    .bottomText{
        display: none;
    }
    .Link{
        text-decoration: none;
       h2{
        color: #43C4B2;

        /* Caption/caption 1 */
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.048px;
       }
    }
}

@media  (max-width: 1200px) {
    .Register{
       .arrow_top{

       }
       ._formBox{
        //background-color: chocolate;

        .formHeader{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            gap: 10px;
            //background-color: coral;

            h2{
            display:flex;
            //padding: 10px 4px;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: #000;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: center;
            cursor: pointer;
            width: 100%;
            text-transform: uppercase;
            gap: 10px;
            //background-color: red;
            .dot{
                color: #43C4B2;
            }
            }

            .formHeaderLogo{
                width: 80px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                //margin-top: -20px;
                //background-color: yellow;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .mobileLogo{
            display: none;
        }

        .formBody{

            .form{

                .Sign-button{
                    display: flex;
                    width: 200px;
                    padding: 12px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 8px;
                    border: 2px solid #43C4B2;
                    background-color: transparent;
                    color: #43C4B2;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                    margin-top: 20%;
                }
            }
        }
       }
    }
}

@media (max-width:750px) {
    
    .Register{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        padding-top: 20px;
    
        .arrow_top{
            display: none;
            width: 90%;
            background-color: transparent;
            .arrowIcon{
                width: 20px;
                height: 20px;
            }
    
        }
        .mobileLogo{
            display: block;
            margin-bottom: 10%;
        }
    
        ._formBox{
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            //background-color: aquamarine;
            margin-top: 5%;
            gap: 20px;
    
            .formHeader{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
                //gap: 10px;
                //background-color: coral;
    
                h2{
                display:flex;
                //padding: 10px 4px;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: #000;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.3px;
                text-align: center;
                cursor: pointer;
                width: 100%;
                text-transform: uppercase;
                //background-color: red;
                .dot{
                    color: #43C4B2;
                }
                }
    
                .formHeaderLogo{
                    width: 55px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //margin-top: -20px;
                    //background-color: yellow;
    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
           
    
            .formBody{
               // background-color: burlywood;
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 10px;
    
                .loginText{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    
        
                    h5{
                        color: #AAA;
                        font-family: Poppins;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.03px;
                      
                    }
                 
                }
    
                .form{
                    display: flex;
                    flex-direction: column;
                  
    
                    .NameForm{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                       // background-color: brown;
    
                       .form__field {
                        font-family: inherit;
                        width: 100%;
                        height: 50px;
                        // padding-top: 20px;
                        border: none;
                       // border:  2px solid #000 !important;
                        //border-bottom: 2px solid #000;
                        outline: 0;
                        font-size: 13px;
                        color: #0d0b0b;
                        padding: 10px;
                        border-radius: 8px;
                        background: #F6F6F6;
                        //padding-left: 10px;
                        transition: border-color 0.2s;

                      }
                      
                      .form__field::placeholder {
                        color: transparent;
                        padding: 10px;
                        //background-color: brown;
                        //height: 100%;
                      }
                      
                      .form__field:placeholder-shown ~ .form__label {
                        font-size: 10px;
                        cursor: text;
                        top: 30px;
                        color: #808080;
                        padding-left: 10px;
                        //padding-top: 10px;
                      }
                      
                      .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 17px;
                        color: transparent;
                        pointer-events: none;
                        
                      }
                     
                      
                      .form__field:focus {
                        padding-bottom: 6px;
                        font-weight: 300;
                        border-width: 2px;
                        border-image: linear-gradient(to right, #43C4B2, #43C4B2);
                        border-image-slice: 1;
                        //border-radius: 118px !important;
                     border: 2px solid #43C4B2;
                        
                      }
                      
                      .form__field:focus ~ .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 12px;
                        color: #43C4B2;
                        font-weight: 700;
                        padding-top: 15px;
                        padding-left: 10px;
                        //background-color: blue;
                      }
                      
                      /* reset input */
                      .form__field:required, .form__field:invalid {
                        box-shadow: none;

                      }
                      .viewPassword{
                        color: black;
                        margin-left: -10%;
                        margin-top: 4%;
                        font-size: 20px;
                      }
                      .active{
                        color: #43C4B2;
                      }
          
                      .error{
                        border:2px solid red;
                        
                        
                      }
          
                      .ErrorIcon{
                        color: red;
                        margin-left: -10%;
                        margin-top: 5%;
                      }
              
                    }
    
                    .detailsForm{
                        .form__field {
                            font-family: inherit;
                            width: 100%;
                            height: 50px;
                            // padding-top: 20px;
                            border: none;
                           // border:  2px solid #000 !important;
                            //border-bottom: 2px solid #000;
                            outline: 0;
                            font-size: 13px;
                            color: #0d0b0b;
                            padding: 10px;
                            border-radius: 8px;
                            background: #F6F6F6;
                            //padding-left: 10px;
                            transition: border-color 0.2s;
    
                          }
                          
                          .form__field::placeholder {
                            color: transparent;
                            padding: 10px;
                            //background-color: brown;
                            //height: 100%;
                          }
                          
                          .form__field:placeholder-shown ~ .form__label {
                            font-size: 10px;
                            cursor: text;
                            top: 30px;
                            color: #808080;
                            padding-left: 10px;
                            //padding-top: 10px;
                          }
                          
                          .form__label {
                            position: absolute;
                            top: 0;
                            display: block;
                            transition: 0.2s;
                            font-size: 17px;
                            color: transrparent;
                            pointer-events: none;
                            
                          }
                         
                          
                          .form__field:focus {
                            padding-bottom: 6px;
                            font-weight: 300;
                            border-width: 2px;
                            border-image: linear-gradient(to right, #43C4B2, #43C4B2);
                            border-image-slice: 1;
                            //border-radius: 118px !important;
                         border: 2px solid #43C4B2;
                            
                          }
                          
                          .form__field:focus ~ .form__label {
                            position: absolute;
                            top: 0;
                            display: block;
                            transition: 0.2s;
                            font-size: 12px;
                            color: #43C4B2;
                            font-weight: 700;
                            padding-top: 7%;
                            padding-left: 10px;
                            //background-color: blue;
                          }
                          
                          /* reset input */
                          .form__field:required, .form__field:invalid {
                            box-shadow: none;
    
                          }
                          .viewPassword{
                            color: black;
                            margin-left: -10%;
                            margin-top: 4%;
                            font-size: 20px;
                          }
                          .active{
                            color: #43C4B2;
                          }
              
                          .error{
                            border:2px solid red;
                            
                            
                          }
              
                          .ErrorIcon{
                            color: red;
                            margin-left: -10%;
                            margin-top: 5%;
                          }
                    }
    
                    .Sign-button{
                        display: flex;
                        width: 80%;
                        padding: 12px 24px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 8px;
                        border-radius: 100px;
                        background: #43C4B2;
                        color: #fff;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                        margin-top: 40%;
                    }

                    .bottomText{
                        display: flex;
                        //margin-top: 20%;

                        span{
                            color: #000;

                            /* Overline/overline 1 */
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.15px;
                            text-transform: uppercase;
                        }
                    }
    
                    .footer_{
                        display: none;
                        margin-top: 10%;
                    }

                }
            }
    
          
        }
    }
}