.signup-wrapper{
    background-color:#FFFFFF;
    //margin-top: -100px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    
.mobileLogo{
    display: none;
}
     

    .formContainer{
        width: 600px;
        height: 889px;
        flex-shrink: 0;
        padding: 20px;
       // overflow: hidden;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        // align-items: start; 
        // position: absolute;
       

        h1{
            display: inline-flex;
            padding: 10px 4px;
            align-items: center;
            gap: 16px;

            color: #000;
            font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -0.3px;
            text-align: center;
            cursor: pointer;

            img{
                width: 150px;
                height: 40px;
                object-fit: cover;
            }

            .dot{
           
                color: #43C4B2;
                background-color: #FFFFFF;
                //font-size: 60px;
            }
         
        }

       


        h2{
            text-align: start;
            align-self: flex-start;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 10px;
            font-size: 11px;
            line-height: 30px;
            letter-spacing: 0.0015em;
            color: #AAAAAA;
            text-align: start;
            margin-bottom: 20px;

        }

        form{
            background-color: #FFFFFF;
            width:100%;
            height: auto;
            display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
            gap: 15px;
            //overflow: hidden;
            


            .Names{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                
                
               
                .fName, .lName{
                    flex-basis: 40%;
                    border-bottom: 2px solid #000000;
                    width: 50px;
                    
                  }

                  .error{
                    border-bottom: 2px solid red;
                  }

                  input{
                    cursor: pointer;
                    border: none;
                    outline: none;
                    width: 100%;
                    height: 35px;
                    padding: 10px;
                    input:focus {
                        background-color: rgb(253, 253, 253);
                      }
                      
                    &::placeholder{
                        color: rgb(9, 7, 7);
                        //styleName: Headers/H5;
                        font-family: Poppins;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 36px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }

                        
            }

            .Auth{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: flex-start;
               
               

                .password ,.email{
                    //background: olivedrab;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    height: 45px;
                  
                    //border-bottom: 2px solid #000000;
    
                    .error{
                        border-bottom: 2px solid red;
                     
                      }

                    input{
                        cursor: pointer;
                        border: none;
                        outline: none;
                       // background-color: olivedrab;
                        width: 100%;
                        height: 40px;
                        padding: 10px;
                        border-bottom: 2px solid #000000;
                        input:focus {
                            background-color: rgb(253, 253, 253);
                          }
                          
                        &::placeholder{
                            color: rgb(9, 7, 7);
                            //styleName: Headers/H5;
                            font-family: Poppins;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 36px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
                    }
                    .viewPassword{
                        color: #43C4B2;
                        margin-left: -30px;
                    }
    
                }
               
            }
           
          .error-message{
            color: red;
            font-family: Poppins;
            font-size: 15px;
            font-weight: 200;
            line-height: 36px;
            letter-spacing: 0em;
          }

          .bottomText{
            display: none;
          }
        
        button{
           background: #fafafa;
           color: #43C4B2;
           font-family: Poppins;
           font-size: 14px;
           font-style: normal;
           font-weight: 500;
           line-height: normal;
           letter-spacing: 0.175px;
           text-transform: uppercase;
           display: flex;
            width: 364px;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 2px solid #43C4B2;
        }
           
        .progressStyle {
            background-color: red;
            /* Add any other styles you want for the progress state */
          }
        }

        .footer{
            margin-top: 200px;
        }
    }
   
    .navLink{
        text-decoration: none;
        color: #43C4B2;
    }


}


@media  screen and (max-width: 1024px) {
   
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
.signup{
    background: #FFFFFF;
   // margin-top: -100px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    overflow: hidden;
    position: static;
    padding: 0;
    //padding: 20px;

    .mobileLogo{
        display: flex;
        width: 84.703px;
        height: 24px;
        flex-shrink: 0;
        margin-top : 20px;
    }
    .formContainer{
       background: #FFFFFF;
       //display: none;
       display: flex;
       flex-direction: column;
       width: 100%;
       gap: 10px;
       height: calc(100vh - 24px);
       //align-self: stretch;
       justify-content: center;
       align-items: center;
       margin: 0;
       padding: 0;


       h1{
        display: inline-flex;
        align-items: center;
        gap: 6px;
        margin-top: 10px;
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 275;
        line-height: normal;

        img{
            width: 100px;
            height: 24px;
            object-fit: contain;
        }

        .dot{
           
            color: #43C4B2;
            background-color: #FFFFFF;
            font-size: 40px;
        }
       }
       
       h2{
        color: #808080;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.048px;
       // margin-top: -30px;
         margin-left: -200px;
       }

       form{
        //display: none;
         display: inline-flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 24px;
         //background-color: goldenrod;
         width: 100%;
        height: auto;
         padding: 10px;
         //margin: -100px;
    //    overflow: scroll;

        


        .Names{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            
            
           
            .fName, .lName{
                display: flex;
                width: 100%;
                height: 47px;
                padding: 16px 12px;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                background: #F6F6F6;
                border: none;
                
              }

              .error{
                border: 2px solid red;
              }

              input{
                cursor: pointer;
                border: none;
                outline: none;
                width: 100%;
                height: 35px;
                padding: 10px;
                input:focus {
                    background-color: rgb(253, 253, 253);
                  }
                  
                &::placeholder{
                    color: rgb(9, 7, 7);
                    //styleName: Headers/H5;
                    font-family: Poppins;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }

                    
        }

        .Auth{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
            align-items: flex-start;
           
           

            .password ,.email{
             
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                height: 45px;
              
              

                .error{
                    border: 2px solid red;
                 
                  }

                input{
                    cursor: pointer;
                    border: none;
                    outline: none;
                   display: flex;
                   width: 100%;
                   height: 47px;
                   padding: 16px 12px;
                   align-items: center;
                   gap: 10px;
                   border-radius: 8px;
                   background: #F6F6F6;
                    input:focus {
                        background-color: rgb(253, 253, 253);
                      }
                      
                    &::placeholder{
                        color: rgb(9, 7, 7);
                        //styleName: Headers/H5;
                        font-family: Poppins;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 36px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
                .viewPassword{
                    color: #43C4B2;
                    margin-left: -30px;
                }

            }
           
        }
       
      .error-message{
        color: red;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 200;
        line-height: 36px;
        letter-spacing: 0em;
      }
    .bottomText{
        display: flex;

        h3{
            color: #000;

            /* Overline/overline 1 */
            font-family: Poppins;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.15px;
            text-transform: uppercase;
        }
    }

    button{
        display: flex;
        width: 312px;
        padding: 12px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background: #43C4B2;
        align-self: center;
        color: #FFF;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.175px;
        text-transform: uppercase;
    }
    }
    }
    .footer{ 
       display: none;
    }
}
  }//