.widget{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    //padding-left: 10px;
    background-color: #FFF;
    //position: sticky;

.widgetWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center ;
    width: 100%;
    height: 200px;
    border-radius: 16px;
   background-size: cover;
   overflow: hidden;

 
  
  

    .widgetInfo{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        //justify-content: center;
        justify-content: space-between;
        background-color: transparent;
        width: 100%;
         height: 100%;
        
        .centerInfo{
            display: flex;
            //flex-direction: column;
            align-items: center;
            justify-content: center;
            // backdrop-filter: blur(2px);
            // border-radius: 50%;
            // height: 30%;
            // width:30%;
            // margin: auto;
            //gap: 5px;
            // background: rgba(0, 0, 0, 0.20);
            
         
        
            p{
                
               margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                // line-height: 144px;
                // letter-spacing: -0.015em;
                color: #FFFFFF;
                background: rgba(0, 0, 0, 0.20);
                backdrop-filter: blur(2px);
                border-radius: 50%;
                padding: 5px;
                height: 80px;
                width:80px;
                margin: auto;


            }
        
        }

  

    .topcircle{
        width: 100%;
        height: 30px;
        background-color: transparent  ;
        display: flex;
   

      span{
        padding-top: 5px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.048px;
        margin: auto;
       
    }
        .innerCircle{
            height: 30px;
            width: 30px;
            border-radius: 100%;
            border: 4px solid #43C4B2;
            position: absolute;
            right: -4px;
        }
    }

    .buttom-circle{
        width: 100%;
        height: 30px;
        background-color: transparent;
        position: relative;
        
        .inner-Circle{
            height: 30px;
            width: 30px;
            border-radius: 100%;
            border: 4px solid #43C4B2;
            position: absolute;
            left: -4px;
        }
    }

    }
}
// .num{
//     margin-top:10px ;
// }
// .btn{
//     height: 30px;
//     margin-top: -10px;
// }
.widgetWrapper:nth-child(1) {
    background-image: url('https://www.ohchr.org/sites/default/files/styles/hero_image_2/public/2021-07/Ethiopia-UN0418425.jpg?itok=7wJB8CbZ');
  }
  
  .widgetWrapper:nth-child(2) {
    background-image: url('https://www.ohchr.org/sites/default/files/styles/hero_image_2/public/2021-07/Ethiopia-UN0418425.jpg?itok=7wJB8CbZ');
  }
  
  .widgetWrapper:nth-child(3) {
    background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/11/20/09/children-0.jpg');
  }
  
  .widgetWrapper:nth-child(4) {
    background-image: url('https://www.allprodad.com/wp-content/uploads/2021/03/05-12-21-happy-people.jpg');
  }
}


@media  screen and (max-width: 1200px) {
  .widget{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
//    gap: 80px;
    //padding-left: 10px;
    background-color: #FFF;
    //position: sticky;

.widgetWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center ;
    width: 100%;
    height: 180px;
    border-radius: 16px;
   background-size: cover;
   overflow: hidden;

 
  
  

    .widgetInfo{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        //justify-content: center;
        justify-content: space-between;
        background-color: transparent;
        width: 100%;
         height: 100%;
        
        .centerInfo{
            display: flex;
            //flex-direction: column;
            align-items: center;
            justify-content: center;
            // backdrop-filter: blur(2px);
            // border-radius: 50%;
            // height: 30%;
            // width:30%;
            // margin: auto;
            //gap: 5px;
            // background: rgba(0, 0, 0, 0.20);
            
         
        
            p{
                
               margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                // line-height: 144px;
                // letter-spacing: -0.015em;
                color: #FFFFFF;
                background: rgba(0, 0, 0, 0.20);
                backdrop-filter: blur(2px);
                border-radius: 50%;
                padding: 5px;
                height: 60px;
                width:60px;
                margin: auto;


            }
        
        }

  

    .topcircle{
        width: 100%;
        height: 30px;
        background-color: transparent  ;
        display: flex;
   

      span{
        padding-top: 5px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.048px;
        margin: auto;
       
    }
    
        .innerCircle{
            height: 30px;
            width: 30px;
            border-radius: 100%;
            border: 4px solid #43C4B2;
            position: absolute;
            right: 0;
        }
    }

    .buttom-circle{
        width: 100%;
        height: 30px;
        background-color: transparent;
        position: relative;
        
        .inner-Circle{
            height: 30px;
            width: 30px;
            border-radius: 100%;
            border: 4px solid #43C4B2;
            position: absolute;
            left: -4px;
        }
    }

    }
}
// .num{
//     margin-top:10px ;
// }
// .btn{
//     height: 30px;
//     margin-top: -10px;
// }

}
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
    //  .container.testimonials_container {
    //      width: var(--container-width-sm);
    //  }
  
    //  .client_review {
    //      width: var(--container-width-sm);
    //  }
  }