body {
    background: #ffffff;
    position: relative;
    
  
.A_profile{
    
    .profileWrapper{
        display: flex;

        .profileLeft{
            flex: 2;
        }


        .profileCenter{
        //margin-left: -50px;
        flex: 5;
        width: 100%;

   .topBar{
    position: static;
    top: 0;
    z-index: 100;
   //margin-bottom: 100px;
   }

   .postContent{
    overflow-y: auto;
    height: calc(100vh - 60px);

   }
        
        }


    }

}
}

@media  screen and (max-width: 1024px) {
    // .container.testimonials_container {
    //     width: 60%;
    // }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
    //  .container.testimonials_container {
    //      width: var(--container-width-sm);
    //  }
  
    //  .client_review {
    //      width: var(--container-width-sm);
    //  }
  }