.Impactpage{
    margin-top: 100px;
    width: 100%;
    height: auto;
   // background-color: brown;


    .impactWrapper{

        overflow-y: auto;
        // height: calc(100vh - 60px); 
        // background-color: blueviolet;
    

    .navTop{
        display: flex;
        width: 100%;
        height: 100px;
        padding: 16px 70px;
        align-items: center;
        gap: 44px;
        background: #FFF;
    
        

        .navCont{
        display: flex;   
        align-items: center;   
        gap: 44px;

        .icon{ 
            width: 48px;
            height: 48px;
        }

            .impactsearch{
                display: flex;
                width: 307.8px;
                //justify-content: center;
                //justify-content: space-around;
                align-items: center;
                //gap: 20px;
                flex-shrink: 0;
                height: 69px;
                border-radius: 16px;
                background: #F6F6F6;

                .searchIcon{
                    width: 26px;
                    height: 26px;
                    margin-left: 20px;
                }

                input{
                    border-radius: 16px;
                    background: #F6F6F6;
                    border: none;
                    height: 50px;
                    width: 320px;
                    margin: 20px;
                    outline: none;

                    &::placeholder{
                        color: rgba(0, 0, 0, 0.50);
                        text-align: center;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                    }

                }

                

            }

            .text{
                display: flex;
                padding: 12px;
                align-items: center;
                gap: 12px;
                cursor: pointer;
                span{
                    color: #000;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;

                }

                .itextIcon{
                    width: 24px;
                    height: 24px;
                    color: #000;
                }
            }
        }
    }

    .openCat{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
       //padding: 20px;
        background-color: #000;

        .categoryContainer{
            width: 1200px;
            display: flex;
            align-items: start;
            flex-direction: column;
            background: #000;
            color: #FFF;
            padding: 20px;
        }

        h3{
            color: #FFF;
            text-align: right;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.175px;
            text-transform: uppercase;
        }
        .categoryBox{
            display: flex;
            //flex-direction: column;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            align-items: flex-start;
            gap: 24px;
            background-color: rgb(1, 1, 1);

        
            .checkbox-container {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
              
                .checkbox-label {
                  display: inline-block;
                  position: relative;
                  padding-left: 30px;
                  cursor: pointer;
                }
              
                .checkbox-label:before {
                  content: "";
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  background-color: white;
                  border-radius: 4px;
                  position: absolute;
                  left: 0;
                  top: -10px;
                }
              
                .checkbox-input {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                }
              
                .checkbox-label:hover:before {
                  border: 2px solid #43C4B2;
                }
              
                .checkbox-input:checked + .checkbox-label:before {
                  background-color: #43C4B2;
                  border: 2px solid #43C4B2;
                }
              
                .checkbox-input:checked + .checkbox-label + span {
                  color: #43C4B2; /* Change the text color when checked */
                }
              
                span {
                  color: #FFF;
                  font-family: Poppins;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  letter-spacing: 0.175px;
                  text-transform: uppercase;
                }
              }
              
        }

    }

    .mobileFilterBar{
        display: none;
    }

    .containerText{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        background: #000;
        color: #FFF;
       padding-top: 80px;

        h5{
            color: #FFF;
            text-align: right;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 75px;
        }
    }

    .imapactContainer{
        // display: grid;
        // grid-template-columns: repeat(4, 0fr);
        grid-gap: 10px;
        width: 100%;
        height: auto;
        // align-items: center;
        // justify-content: center;
        padding-bottom: 50px;
        padding-top: 50px;
        background: #000;
        color: #FFF;
        

             
          
            
        .impactBox{
            display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
            width: 300px;
            height: 419px;
            flex-shrink: 0;
            margin: 10px;

            border-radius: 8px;
            background: #FFF;
            overflow: hidden;

          
            img{
                width: 280px;
                height: 217px;
                flex-shrink: 0;
                margin: 12px;
                border-radius: 4px;
                object-fit: cover;
                transition: transform 0.3s ease;
                
            }

            .profileImg:hover{
                transform: scale(1.2);
            }



            .impactBody{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    margin: 10px;
                    
                   

                .name{
                    display: flex;
                    gap: 10px;
                   
                   

                    span{
                        color: #000;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.014px;
                    }

                    .nameIcon{
                        display: flex;
                        width: 18px;
                        height: 17.308px;
                        padding-bottom: 0px;
                        justify-content: center;
                        align-items: center;
                        color: #68EDCB;
                    }

                }

                .address{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    margin-left: 10px;
                    .Icon{
                        width: 15px;
                        height: 15px;
                        color: #808080;
                    }
                    
                    span{
                        color: #808080;
                        /* Overline/overline 1 */
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.15px;
                        text-transform: uppercase;

                    }
                }


                p{
                    margin-top: 10px;
                    color: #000;
                    flex-wrap: wrap;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.048px;
                }

            }
        }

            .btn{
                display: flex;
                gap: 10px;
                width: 200px;
                height: 37px;
                display: flex;
                align-items: center;
                justify-content: center;

                color: #43C4B2;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.175px;
                text-transform: uppercase;
            }

            .btn:hover{
                color: white;
                background-color: #43C4B2;
            }
    

    }

    .custom-dots {
        background-color: #ddd;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        gap: 30px;
      }
      
      .dots-list {
        margin: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        /* Add more styling if needed */
      }
      
      .custom-paging {
        width: 30px;
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.175px;
        text-transform: uppercase;
        border-radius: 4px;
        border: 2px solid #000;
        background: #FFF;
        margin-right: 20px;
        /* Add more styling if needed */
      }
      .custom-paging:hover{
        background-color: #43C4B2;
      }

    .navlink{
        text-decoration: none;
       }

    }
}


@media  screen and (max-width: 1024px) {
    // .container.testimonials_container {
    //     width: 60%;
    // }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
    .Impactpage{
       // margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
        .impactWrapper{
    
            overflow-y: auto;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #FFF;


            .navTop{
                display: none;
                //display: flex;
                width: 100%;
                height: 101px;
                padding: 16px 70px;
                align-items: center;
                gap: 44px;
                background: #FFF;
            
                
        
                .navCont{
                display: flex;   
                align-items: center;   
                gap: 44px;
        
                .icon{ 
                    width: 48px;
                    height: 48px;
                }
        
                    .impactsearch{
                        display: flex;
                        width: 307.8px;
                        //justify-content: center;
                        //justify-content: space-around;
                        align-items: center;
                        //gap: 20px;
                        flex-shrink: 0;
                        height: 69px;
                        border-radius: 16px;
                        background: #F6F6F6;
        
                        .searchIcon{
                            width: 26px;
                            height: 26px;
                            margin-left: 20px;
                        }
        
                        input{
                            border-radius: 16px;
                            background: #F6F6F6;
                            border: none;
                            height: 50px;
                            width: 320px;
                            margin: 20px;
                            outline: none;
        
                            &::placeholder{
                                color: rgba(0, 0, 0, 0.50);
                                text-align: center;
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                letter-spacing: 0.175px;
                                text-transform: uppercase;
                            }
        
                        }
        
                        
        
                    }
        
                    .text{
                        display: flex;
                        padding: 12px;
                        align-items: center;
                        gap: 12px;
                        cursor: pointer;
                        span{
                            color: #000;
                            text-align: right;
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.175px;
                            text-transform: uppercase;
        
                        }
        
                        .itextIcon{
                            width: 24px;
                            height: 24px;
                            color: #000;
                        }
                    }
                }
            }

            .openCat{
                display: none;
            }

           .mobileFilterBar{
            display: block;
           }
        
            .containerText{
                display: none;
                width: 100%;
                height: 60px;
                //display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                background: #bc5151;
                color: #FFF;
               //padding-top: 80px;
        
                h5{
                    color: #FFF;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-right: 75px;
                }
            }
        
            .imapactContainer{
                padding: 0;
                width: 100%;
                height: auto;
                background: #000;
                color: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-bottom: 50px;
                //align-items: center;
                
        
                     
                  
                    
                .impactBox{
                    display: flex;
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;
                   align-self: center;
                   width: 336px;
                   height: 334px;
                    flex-shrink: 0;
                    margin: 10px;
                    margin-left: 25px;
                    border-radius: 8px;
                    background: #FFF;
                    overflow: hidden;
        
                  
                    img{
                        width: 312px;
                        height: 165px;
                        flex-shrink: 0;
                        //margin: 12px;
                        border-radius: 4px;
                        object-fit: cover;
                        transition: transform 0.3s ease;
                        
                    }
        
                    .profileImg:hover{
                        transform: scale(1.2);
                    }
        
        
        
                    .impactBody{
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            margin: 10px;
                            
                           
        
                        .name{
                            display: flex;
                            gap: 10px;
                           
                           
        
                            span{
                                color: #000;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.048px;
                            }
        
                            .nameIcon{
                                display: flex;
                                width: 18px;
                                height: 17.308px;
                                padding-bottom: 0px;
                                justify-content: center;
                                align-items: center;
                                color: #68EDCB;
                            }
        
                        }
        
                        .address{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            margin-left: 10px;
                            .Icon{
                                width: 15px;
                                height: 15px;
                                color: #808080;
                            }
                            
                            span{
                                color: #808080;
                                font-family: Poppins;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.15px;
                                text-transform: uppercase;
        
                            }
                        }
        
        
                        p{
                            overflow: hidden;
                            color: #000;
                            text-overflow: ellipsis;
                            whitespace: nowrap;
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.04px;
                        }
        
                    }
                }
        
                    .btn{
                        color: #43C4B2;
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.15px;
                        text-transform: uppercase;
                        margin-left: -200px;
                    }
        
                    .btn:hover{
                        color: white;
                        background-color: #43C4B2;
                    }
            
        
            }
        
            .custom-dots {
                background-color: transparent;
                border-radius: 10px;
                
               // padding: 10px;
                display: flex;
                gap: 30px;
              }
              
              .dots-list {
                margin: 0;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                gap: 20px;
                /* Add more styling if needed */
              }
              
              .custom-paging {
                width: 30px;
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.175px;
                text-transform: uppercase;
                border-radius: 4px;
                border: 2px solid #000;
                background: #ffffff;
                //margin-right: 20px;
                /* Add more styling if needed */
              }
              .custom-paging:hover{
                background-color: #43C4B2;
              }
        
            .navlink{
                text-decoration: none;
               }
        }
    
      
    }
  }