.CreatePost{
    background-color: #FFF;
    width: 100%;
    height: 100vh;
    //margin-top: -100px;
    display:grid ;
    grid-template-columns: 1.5fr 5fr ; 
    grid-template-rows: 100vh; 


        .Left{
            flex: 2;
            //background: #FF6B6B;
        }
 
 
        .Center{
            display: flex;
            flex-direction: column;
            gap: 20px;
    padding: 20px;
        
    
        
        .post{
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: auto;
            flex-shrink: 0;
            border-radius: 8px;
            margin-top: -10px;
            justify-content: center;
            box-shadow: -8px 8px 10px 0px rgba(136, 188, 138, 0.15);
        .header {
            display: flex;
            width: 100%;
            padding: 12px 24px;
            align-items: center;
            gap: 10px;
            background: #43C4B2;
            justify-content: space-between;
          
          
          h3 {
            color: #FFF;
            font-size: 12px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.024px;
            text-transform: uppercase;
            text-align: left;
            left: 0;
            margin: 0; 
          }
          
          .icon{
            font-size: 15px;
            color:  #FFF;
          }
        }
            .create_campaign{
               // background-color: yellow;
                padding: 60px;
                padding-top: 0;

                .postCauseTop{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    gap: 10px;
                    flex-direction: column;
        
                    .title{
                        display: flex;
                        width: 100%;
                        padding: 12px;
                        align-items: center;
                        gap: 10px;
                        flex-shrink: 0;
                        border-radius: 4px;
                        background: #F6F6F6;
        
                        span{
                            color: #43C4B2;
                            text-transform: uppercase;
                            font-family: Poppins;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.035px;
                        }
                        input{
                            width: 100%;
                            background: transparent;
                        }
                    }
        
                    .instituted{
                        display: flex;
                        width: 100%;
                       // padding: 12px;
                        align-items: center;
                        gap: 10px;
                        flex-shrink: 0;
                        // border-radius: 4px;
                         //xbackground: greenyellow;
        
                        .aidInstitute{
                            display: flex;
                            padding: 12px;
                            align-items: center;
                            gap: 10px;
                            flex: 1 0 0;
                            border-radius: 4px;
                            background: #F6F6F6;
        
                            span{
                                color: #43C4B2;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.035px;
                                text-transform: uppercase;
                                width: 200px;
                                // white-space: nowrap;
                                // overflow: hidden;
                                // text-overflow: ellipsis;
                                // max-width: 100%; 
                            }
        
                            input{
                                width: 100%;
                                background-color: transparent;
                            }
                        }
        
                        .linkInstitute{
                            display: flex;
                            padding: 12px;
                            align-items: center;
                            gap: 10px;
                            flex: 1 0 0;
                            border-radius: 4px;
                            background: #F6F6F6;  
                            
                            span{
                                color: #43C4B2;
                                font-family: Poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.035px;
                                text-transform: uppercase;
                                width: 500px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 100%; 
                            }
        
                            input{
                                width: 100%;
                                background-color: transparent;
                            }
                        }
                    }
        
                }
        
                .horizontal{
                    background: rgba(128, 128, 128, 0.50);
                    width: 100%;
                    height: 1.5px;
                    margin-top: 15px;
                    // margin-left: 45px;
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                   }
        
                   .form{
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    position: relative;
                    //background-color: #FF6B6B;
            
        
                    span{
                        color: rgba(128, 128, 128, 0.50);
                        font-size: 14px;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.035px;
                        text-transform: uppercase;
                        position: absolute;
                        left: 10px;
                       
                    }
              
                    .input{
                        height: 100px;
                        width: 100%;
                        padding: 12px;
                        align-items: center;
                        gap: 10px;
                        border-radius: 4px;
                        //background: #972424;
                        border: none;
                        display: flex;
                        outline: none;
                        font-size: 14px;
                        font-family: Poppins;
                        font-style: normal;
                        margin-top: 10px;
                    }
                
                   }
        
                   .postInfo{
                    //width: 100%;
                    height: 45px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    //margin-left: 70px;
                    gap: 20px;
                    
                    .amount{
                        width: auto;
                        height: 45px;
                   
                        display: flex;
                        flex-direction: row;
                        padding: 12px;
                        align-items: center;
                        gap: 10px;
                        background: #F6F6F6;
                        border-radius: 4px;
        
                        span{
                            color: #43C4B2;
                            font-size: 10px;
                            font-family: Poppins;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            text-transform: uppercase;
                            letter-spacing: 0.035px;
                            width: 200px;
        
                          
                        }
                        // .examount{
                        //     width: 95px;
                        //    }
        
                        input{
                            width: 100%;
                            background: transparent;
                            border: none;
                            outline: none;
                           
                        }
                    }
        
                    .upload{
                        display: flex;
                        right: 0;
                        width: 250px;
                        height: 45px;
                        //background-color: chartreuse;
                        //margin-left: 200px;
                        flex-wrap: wrap;
        
                        .file{
                            display: flex;
                            padding: 10.5px 10px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 4px;
                            background: rgba(255, 107, 107, 0.20);
                            width: 100%;
                            height: 45PX;
        
                            color: #FF6B6B;
                            font-size: 10px;
                            font-family: Poppins;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.035px;
                            text-transform: uppercase;
                        }
        
                        .imgfile{
                            display: flex;
                            padding: 10.5px 24px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            flex: 1 0 0;
                            border-radius: 4px;
                            background: #F6F6F6;
        
                            color: #43C4B2;
                            font-family: Poppins;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.035px;
                            text-transform: uppercase;
                        }
                      .uploadText{
                        font-size: 12px;
                      }
                    }
                    button{
                        margin-top: 30px;
                        width: 110px;
                        display: flex;
                        color: #F6F6F6;
                        border-radius: 4px;
                        background: #43c4b2;
                        height: auto;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        border: none;
                    }
                 
                   }
            }

  
        }

        }


    
    .item{
        color: #FF6B6B;
        font-size: 14px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.035px;
        display: flex;
        gap: 20px;
    }
}


@media (min-width: 800px) and (max-width: 1200px)  {
  
  }
  
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media (min-width: 300px) and (max-width: 600px) {
    //  .container.testimonials_container {
    //      width: var(--container-width-sm);
    //  }
  
    //  .client_review {
    //      width: var(--container-width-sm);
    //  }
  }