.campaingVideo{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    background: #000;
    // height: 270px;
    flex-shrink: 0;
    border-radius: 16px;
    .youTube{
        display: flex;
        justify-content: center;
        width: 100%;
        // height: 270px;
        padding: 10px;
        flex-shrink: 0;
        border-radius: 16px;
        background: #000;
    }

    .videoInfo{
        display: inline-flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        background: #000;

        h3{
            color: #FFF;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        p{
            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.024px;
        }
        span{
            color: rgba(255, 255, 255, 0.50);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.035px;
        }
    }
}

@media  screen and (max-width: 600px) {
    .campaingVideo{
        display: flex;
        justify-content:center ;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        background: #000;
        // height: 270px;
        flex-shrink: 0;
        border-radius: 16px;
        .youTube{
            display: flex;
            justify-content: center;
            width: 100%;
            // height: 270px;
            flex-shrink: 0;
            // border-radius: 16px;
            background: #000;
        }
    
        .videoInfo{
            display: inline-flex;
            padding: 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            background: #000;
    
            h3{
                color: #FFF;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.03px;
                align-self: stretch;
            }
            p{
                color: #FFF;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.035px;
                align-self: stretch;
            }
            span{
                color: rgba(255, 255, 255, 0.50);

                /* Caption/caption 1 */
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.048px;
            }
        }
    }
  }