.Claim{
    display: flex;
    flex-direction: column;
    //align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #fff;
    color: #000;
    margin-top: 100px;

     .claimWrapper{
        width: 100%;
        height: 100%;
       padding-top: 20px;
        display:grid ;
        grid-template-columns: 2fr 3fr 2fr ; 
        background-color: #fff;

        .back{
            background-color: #FFF;
            height: 50px;
            display: flex;
            align-items: center;
            padding-left: 100px;
            position: sticky;
            left: 0;
            overflow: auto;
    
            .backArrow{
                width: 30px;
                height: 30px;
            }

     }

     .claimCont{
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            //margin: auto;
            color: #000;
            background-color: #FFF;
            gap: 20px;
            // margin-top: 100px;
            overflow: auto;
    
            .submitHeader{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
    
                .h2{
                    color: #000;
                    font-family: Poppins;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
    
                h5{
                    color: #808080;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.03px;
                }
            }
    
            .claimForm{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 20px;
                width: 100%;
                margin-bottom: 50%;
                //margin: 20px;
               //background-color: #d81717;
    
                input{
                    border-radius: 8px;
                    border: 2px solid #000;
                    background: #FFF;
                    display: flex;
                    width: 100%;
                    height: 60px;
                    padding: 10px;
                    align-items: center;
                    gap: 10px;
                }
    
                .inputRoll{
                    display: flex;
                    width: 100%;
                    align-items: flex-start;
                    gap: 40px;
                    .input{
                        display: flex;
                        //height: 30px;
                        padding: 20px;
                        align-items: center;
                        gap: 20px;
                        flex: 1 0 0;
                        border-radius: 8px;
                        border: 2px solid #000;
                        // background: #983535;
                      
                    }
                    .nation{
                        padding: 10px;
                        height: 60px;
                        gap: 10px;
                        border-radius: 8px;
                        border: 2px solid #000;
                        background-color: #FFF;
                        display: flex;
                        align-items: center;
                        width: 50%;
                        overflow: hidden;
                        
                        input{
                            border: none;
                            height: 60px;
                           // background-color: blue;
                        }
                        .dropdownIcon{
                            width: 50px;
                            height: 50px;
                        }
                        
                        img{
                            height: 28px;
                            width: 28px;
                            border-radius: 100%;
                            object-fit: cover;
                            flex: 1 0 0;
                        }
                    }
    
                }
    
                .bollen{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    align-self: stretch;
                    background-color: #FFF;
    
                    h5{
                        color: #000;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.014px;
                    }
                 }
    
                 .uploadFile{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    width: 100%;
    
                    h4{
                        color: #808080;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.014px;
                    }
    
                    input{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: auto;
                        padding: 24px;
                        align-items: center;
                        gap: 10px;
                    }
                 }
    
                 button{
                    display: flex;
                    width: 164px;
                    height: 45px;
                    padding: 12px 44px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                    background: #43C4B2;
                    align-self: start;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                    white-space: nowrap;     
                    overflow: hidden;    
                    text-overflow: ellipsis; 
                    
                 }
                 
           
            }
            p{
                display: none;
                color: #808080;
                width: 100%;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.03px;
             }
            
        }
        .claimRight{

        }
    
     }

   
    
}


@media  screen and (max-width: 600px) {
    .Claim{
        display: flex;
        flex-direction: column;
        //align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: auto;
        background: #fff;
        color: #000;
        // margin-top: 100px;
    
        .claimCont{
           margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: #000;
            padding: 20px;
            // margin-top: 100px;
    
            .submitHeader{
                display: none;
            }
    
            .claimForm{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                width: 100%;
                margin: 20px;
               background-color: #FFF;
    
                input{
                    display: flex;
                    width: 336px;
                    height: 47px;
                    padding: 16px 12px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 8px;
                    background: #F6F6F6;
                }
                input::placeholder{
                    color: #808080;

                    /* Overline/overline 1 */
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.15px;
                    text-transform: uppercase;
                }
    
                .inputRoll{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    //background-color: #cf0f62dc;
                    // align-items: flex-start;
                    // gap: 40px;
    
                    input{
                        display: flex;
                        width: 100%;
                        height: 100%;
                       // width: 336px;
                        height: 20px;
                        padding: 16px 12px;
                        align-items: center;
                        gap: 10px;
                        //background: #c0e507;
                      
                    }
                    .nation{
                        display: flex;
                        width: 336px;
                        height: 47px;
                        padding: 16px 12px;
                        align-items: center;
                        gap: 10px;
                        border-radius: 8px;
                        background: #F6F6F6;
                        
                        input{
                            border: none;
                            display: flex;
                            width: 100%;
                            height: 100%;
                        // width: 336px;
                            height: 20px;
                            padding: 16px 12px;
                            align-items: center;
                            gap: 10px;
                        }
                        .dropdownIcon{
                            width: 20px;
                            height: 20px;
                        }
                        
                        img{
                            height: 28px;
                            width: 28px;
                            border-radius: 100%;
                            object-fit: cover;
                            flex: 1 0 0;
                        }
                    }
    
                }
    
                .bollen{ 
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    align-self: stretch;
    
                    h5{
                        color: #000;
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.15px;
                        text-transform: uppercase;
                    }
                 }
    
                 .uploadFile{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
    
                    h4{
                        color: #808080;
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.15px;
                        text-transform: uppercase;
                    }
    
                    input{
                        display: flex;
                        width: 100%;
                        height: auto;
                        padding: 24px;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                        border-radius: 8px;
                        border: 1.5px solid #000;
                        background: #FFF;
                    }
                 }
    
                 button{
                    display: flex;
                    height: 45px;
                    padding: 12px 44px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                    background: #43C4B2;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                 }
                 
           
            }
            p{
                display: none;
                color: #808080;
                width: 100%;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.03px;
             }
            
        }
    }
  }