.Analytics_profile{
    background-color: #FFF;
    width: 100%;
    height: 100vh;
    //margin-top: 100px;
    display:grid ;
    grid-template-columns: 1fr 5fr ; 
    grid-template-rows: 100vh; 

    .Analytics_profile-mobileHeader{
        display: none;
    }
   

    .Analytics_Containerleft{
        flex: 1;
        display: flex;
        background-color: #FFF;
        flex-direction: column;
        height: 100%;
        width: 100%;

        position: static;
    }

    .Analytics_ContainerRight{
        display: flex;
        flex: 5;
        background-color: #FFF;
        flex-direction: column;
        height: 100%;
        width: 100%;


        .Analytics_topBar{

        }

    }
}

@media  screen and (max-width: 1024px) {
    // .container.testimonials_container {
    //     width: 60%;
    // }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
    //  .container.testimonials_container {
    //      width: var(--container-width-sm);
    //  }
  
    //  .client_review {
    //      width: var(--container-width-sm);
    //  }
  } 