body {
    background: #ffffff;
    position: relative;
    
  
.A_profile{
    
    .profileWrapper{
        display: flex;

        .profileLeft{
            flex: 2;
        }


        .profileCenter{
       // margin-left: -10px;
        flex: 5;
        width: 100%;
        //background-color: chocolate;
        
        .widget{
  
      
           
        }
        }


    }

}
}

@media  screen and (max-width: 1024px) {
    // .container.testimonials_container {
    //     width: 60%;
    // }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
    //  .container.testimonials_container {
    //      width: var(--container-width-sm);
    //  }
  
    //  .client_review {
    //      width: var(--container-width-sm);
    //  }
  }