.post{
    margin-bottom: 20px;
    //position: relative;
    //background-color: #68EDCB;
    .postLink{
        font-family: 'Poppins';
        font-style: normal;
        margin: 10px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align:start;
        letter-spacing: 0.0015em;
        cursor: pointer;
        .link{
            padding-right: 50px;
        }
        .link:hover{
            color: #68EDCB;
        }
    }

    .postStat{
        width:800px;
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-top: 30px;
        .right{

            .top{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                margin-bottom: 10px;

                .fPost{
                    color: #9747FF;
                    width: 93px;
                    height: 23px;
                    background: rgba(151, 71, 255, 0.15);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }

                .status-ongoing {
                    color:  #FF6B6B;
                    width: 93px;
                    height: 23px;
                    background: rgba(255, 107, 107, 0.15);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    text-transform: uppercase;
                  }
                  .status-completed {
                    color: #68EDCB;
                    background: rgba(104, 237, 203, 0.15);
                    width: 93px;
                    height: 23px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    text-transform: uppercase;
                  }

            }
            
            .postTime{
                display: flex;
                //align-items: center;
                //justify-content: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                justify-content: space-between;
                letter-spacing: 0.0025em;
                color: #808080;
                gap: 5px;

                span{
                    align-items: center;
                }
                .dot{
                    font-size: 25px;
                    margin-top: -5px;
                }
                .icon{
                    font-size: 15px;
                    padding-right: 5px;
                }

                .thread{
                    display: flex;
                    padding: 2px 4px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 100px;
                    background: #000;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.03px;
                    text-transform: uppercase;
                }
            }

           
        }
        .left{
               justify-content: center;
               align-content: center;
               text-align: center;
            span{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 2px 8px;
                gap: 12px;
                //position: relative;
                width: 91px;
                height: 25px;
                color: white;
                background: #000000;
                border-radius: 4px;
                justify-content: center;
            }
        }
    }

    .postStory{
        width: calc(90% - 50px);
        margin: 20px;
        //margin-left: 50px;
       //position: relative;
        .top{
            
            width: 400px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.0015em;
            color: #000000;
        }
   
        //  .centerWrap{
        //     // position: relative;

         
            .center{
               // position: relative;
                display: inline-block;
                img{
                    height: 550px;
                    width: 890px;
                    display: block;
                    border-radius: 10px;
                }

                .storyTop{
                   // position: relative;
                    top: 0;
                    left: 0;
                    margin-top: -550px;
                    height: 550px;
                    width: 890px;
                    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    z-index: 1;
                    padding: 20px;
                    border-radius: 10px;
                    overflow: hidden;
        
                    .topStory{
                        margin: 20px;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                       
        
                       span{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        letter-spacing: 0.0125em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background: rgba(0, 0, 0, 0.15);
                        border-radius: 8px;
                        backdrop-filter: blur(5px);
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        gap: 10px;
                        left: 0;
                        
                       }
                       .icon{
                        color: #68EDCB;
                        font-size: 20px;
                       }
                    }

                    .progressbar{
                        color: #FFFFFF;
                    }
                    .storyCenter{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        color: white;


                        .addImpact{

                            display: flex;
                            gap: 10px;
                            span{
                                color: #FFF;
                                font-family: Poppins;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.175px;
                                text-transform: uppercase;
                            }
                        }
                        button{
                            display: flex;
                            width: 186px;
                            height: 45px;
                            padding: 12px 32px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            flex-shrink: 0;
                            border-radius: 8px;
                            background: #EBFFFA;


                            color: #68EDCB;

                            /* Button/button 1 */
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.175px;
                            text-transform: uppercase;
                        }
                    }
        
                    .down{
        
                        p{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.0025em;
                            color: #FFFFFF;
        
                        }
                    }
                }
    
            }
        }
    
           


    }
// }

.noFeaturePost {
    .postStat{
        width: calc(798.55px - 50px);
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-top: 30px;
        .right{

            .top{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;

                .fPost{
                    color: #9747FF;
                    width: 65px;
                    height: 23px;
                    background: rgba(151, 71, 255, 0.15);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }

                .status-ongoing {
                    color:  #FF6B6B;
                    width: 93px;
                    height: 23px;
                    background: rgba(255, 107, 107, 0.15);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    text-transform: uppercase;
                  }
                  
                  .status-completed {
                    color: #68EDCB;
                    background: rgba(104, 237, 203, 0.15);
                    width: 93px;
                    height: 23px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    text-transform: uppercase;
                  }

            }
            
            .down{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                justify-content: space-between;
                letter-spacing: 0.0025em;
                color: #808080;

                span{
                    margin-right: 5px;
                    align-items: center;
                }
                .dot{
                    font-size: 25px;
                }
                .icon{
                    font-size: 15px;
                    padding-right: 5px;
                }
            }

           
        }
        .left{
               justify-content: center;
               align-content: center;
               text-align: center;
              
            span{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 2px 8px;
                gap: 12px;
              // position: absolute;
                width: 91px;
                height: 25px;
                right: 66px;
                color: white;
                background: #000000;
                border-radius: 4px;
                justify-content: center;
                margin-right: 12%;
            }
        }
    }

    // .postStory{
    //     width: calc(800px - 50px);
     
    //    // position: relative;
    //     .top{
            
    //         width: 400px;
    //         font-family: 'Poppins';
    //         font-style: normal;
    //         font-weight: 500;
    //         font-size: 20px;
    //         line-height: 30px;
    //         letter-spacing: 0.0015em;
    //         color: #000000;
    //     }
    //     .center{

    //         img{
    //             height: 448px;
    //             width: 800px;
        
    //             border-radius: 10px;
    //         }

    //     }

    //     .storyTop{
    //         position: relative;
    //         top: 0;
    //         left: 0;
    //         height: 448px;
    //         width: 800px;
    //         background-color: rgba(181, 21, 21, 0.6); /* Semi-transparent background */
    //         display: flex;
    //         flex-direction: column;
    //          justify-content: space-between;
    //         align-items: start;
    //         z-index: 1;
    //         padding: 20px;
    //         border-radius: 10px;

    //         .topStory{
    //             margin: 20px;
    //             top: 0;
    //             display: flex;
    //             //flex-direction: row;
    //             gap: 10px;
               

    //            span{
    //             font-family: 'Poppins';
    //             font-style: normal;
    //             font-weight: 400;
    //             font-size: 14px;
    //             line-height: 21px;
    //             letter-spacing: 0.0125em;
    //             text-transform: uppercase;
    //             color: #FFFFFF;
    //             background: rgba(0, 0, 0, 0.15);
    //             border-radius: 8px;
    //             backdrop-filter: blur(5px);
    //             width: 100%;
    //             height: 40px;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             text-align: center;
    //             gap: 10px;
                
    //            }
    //            .icon{
    //             color: #68EDCB;
    //             font-size: 20px;
    //            }
    //         }

    //         .down{
    //             justify-content: start;
    //             text-align: start;
    //             height: 69px;
    //             width: 100%;
    //             text-overflow: ellipsis; 
    //             p{
    //                 font-family: 'Poppins';
    //                 font-style: normal;
    //                 font-weight: 400;
    //                 font-size: 14px;
    //                 line-height: 21px;
    //                 letter-spacing: 0.0025em;
    //                 color: #FFFFFF;

    //             }
              
    //         }

            
    //     }

    // }

  }



  @media  screen and (max-width: 1024px) {
    // .container.testimonials_container {
    //     width: 60%;
    // }
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
    //  .container.testimonials_container {
    //      width: var(--container-width-sm);
    //  }
  
    //  .client_review {
    //      width: var(--container-width-sm);
    //  }
  }