
button{
    display: flex;
    width: 353px;
    height: 48px;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    border-radius: 8px;
    background: #E7FFFC;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #43C4B2;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.175px;
    text-transform: uppercase;
}

