.post{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: auto;
   padding: 10px;
   background-color: #ffffff;

    // .PostStatus{
    //     display: flex;
    //     align-items: center;
    //     //gap: 10px;

    //     .causes{
    //         display: flex;
    //         height: 48px;
    //         padding: 12px;
    //         justify-content: center;
    //         align-items: flex-start;
    //         //gap: 12px;
    //         // background-color: #68EDCB;
    //         flex: 1 0 0;
    //         span{
    //             color: #808080;
    //             text-align: center;
    //             font-family: Poppins;
    //             font-size: 14px;
    //             font-style: normal;
    //             font-weight: 500;
    //             line-height: normal;
    //             letter-spacing: 0.014px;
    //         }
    //     }
      
        
    // }
    .postLink{
        font-family: 'Poppins';
        font-style: normal;
        margin: 10px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align:start;
        letter-spacing: 0.0015em;
        cursor: pointer;
        .link{
            padding-right: 50px;
        }
        .link:hover{
            color: #68EDCB;
        }
        //background-color: #FF6B6B;
    }

    .postStat{
        width:100%;
        display: flex;
        justify-content: space-between;
        // margin-left: 50px;
        margin-top: 20px;
        .right{

            .top{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                margin-bottom: 10px;

                .fPost{
                    color: #9747FF;
                    width: 93px;
                    height: 23px;
                    background: rgba(151, 71, 255, 0.15);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }

                .status-ongoing {
                    color:  #FF6B6B;
                    width: 93px;
                    height: 23px;
                    background: rgba(255, 107, 107, 0.15);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    text-transform: uppercase;
                  }
                  .status-completed {
                    color: #43C4B2;
                    background: rgba(104, 237, 203, 0.15);
                    width: 93px;
                    height: 23px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    text-transform: uppercase;
                  }

            }
            
            .postTime{
                display: flex;
                //align-items: center;
                //justify-content: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                justify-content: space-between;
                letter-spacing: 0.0025em;
                color: #808080;
                gap: 5px;

                span{
                    align-items: center;
                }
                .dot{
                    font-size: 25px;
                    margin-top: -5px;
                }
                .icon{
                    font-size: 15px;
                    padding-right: 5px;
                }

                .thread{
                    display: flex;
                    padding: 2px 4px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 100px;
                    background: #000;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.03px;
                    text-transform: uppercase;
                }
            }

           
        }
        .statleft{
            display: flex;
            // width: 177px;
            height: 24px;
            padding-top: 0px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 19.5px;
            flex-shrink: 0;
           .dotIcon{
            width: 24px;
            height: 24px;
            color: #000000;
           }
        }
    }

    .postStory{
        width: 540px;
        height: auto;
        margin-top: 20px;
        background-color: #FFF;
        align-self: center;
        //margin: 20px;
        //margin-left: -5px;
       //position: relative;
        p{
            
            color: #000;
            leading-trim: both;
            text-edge: cap;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.03px;
        }
   
        //  .centerWrap{
        //     // position: relative;

         
            .center{
                display: flex;
                flex-direction: column;
                background-color: #100505;
                width: 100%;
                height: auto;
                overflow: hidden;
                border-radius: 10px;
                
               // position: relative;
                //display: inline-block;
                //display: none;
                img{
                    width: 540px;
                    height: 500px;
                    overflow: visible;
                    object-fit: cover;
                    // display: block;
                    border-radius: 10px;
                }

                .storyTop{
                   // position: relative;
                    // top: 0;
                    // left: 0;
                    margin-top: -500px;
                    width: 540px;
                    height: 500px;
                    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    z-index: 1;
                    padding: 10px;
                    border-radius: 10px;
                    //overflow: hidden;

                    .postStoryTop{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .topStory{
                            //margin: 20px;
                            top: 0;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                           
            
                           span{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.0125em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            background: rgba(0, 0, 0, 0.15);
                            border-radius: 8px;
                            backdrop-filter: blur(5px);
                            //width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            gap: 10px;
                            left: 0;
                            
                           }
                           .storyicon{
                            color: #FFFFFF;
                            font-size: 20px;
                           }
                        }
    
                        .progressbar{
                            color: #FFFFFF;
                            display: none;
                        }

                    }
        
                   
                    .storyCenter{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100px;
                        justify-content: space-between;
                        color: white;
                        background-color: transparent;
                        margin-top: 200px;

                        button{
                            display: flex;
                            width: 186px;
                            height: 45px;
                            padding: 12px 32px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            flex-shrink: 0;
                            border-radius: 8px;
                            background: #E7FFFC;

                            color: #43C4B2;
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: 0.175px;
                            text-transform: uppercase;
                        }

                        .likeBtn{
                            display: flex;
                            width: 60.412px;
                            padding: 8px 4px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;
                            border-radius: 4px;
                            background: rgba(0, 0, 0, 0.05);
                            backdrop-filter: blur(1px);

                            .LikeIcon{
                                width: 44.412px;
                                height: 41.366px;
                            }
                            span{
                                display: flex;
                                padding: 4px;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                align-self: stretch;
                                border-radius: 100px;
                                background: #FFF;

                                color: #000;
                                text-align: center;
                                font-family: Poppins;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                letter-spacing: 0.15px;
                                text-transform: uppercase;
                            }
                        }
                    }
        
                    .down{
                       //background-color: cyan;
                        padding: 0;
                        margin: 0;
       
                        p{

                            height: 75px;
                        width: 100%;
                        overflow: scroll;
                        color: #FFF;
                        text-overflow: ellipsis;
                        whitespace: nowrap;

                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            letter-spacing: 0.0025em;
                            color: #FFFFFF;
        
                        }
                    }
                }
    
            }
        }
    
           


    }


  @media  screen and (max-width: 1024px) {
  
  }
  
  /* MEDIA QUERIES (SMALL DEVICES)*/
  @media screen and  (max-width: 600px) {
    .post{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #FFF;
     
        //  .PostStatus{
        //     display: flex;
        //     width: 100%;
        //     justify-content: center;
        //     align-items: center;
        //      background-color: #ffffff;
        //      //gap: 10px;
     
        //      .causes{
        //         display: flex;
        //         padding: 10px;
        //         justify-content: center;
        //         align-items: center;
        //         gap: 10px;
        //         flex: 1 0 0;
        //          span{
        //             color: #808080;
        //             font-family: Poppins;
        //             font-size: 10px;
        //             font-style: normal;
        //             font-weight: 400;
        //             line-height: normal;
        //             letter-spacing: 0.15px;
        //             text-transform: uppercase;
        //          }
        //      }
           
             
        //  }
        //  .postLink{
        //      font-family: 'Poppins';
        //      font-style: normal;
        //      margin: 10px;
        //      width: 100%;
        //      font-weight: 400;
        //      font-size: 14px;
        //      line-height: 24px;
        //      text-align:start;
        //      letter-spacing: 0.0015em;
        //      cursor: pointer;
        //      .link{
        //          padding-right: 50px;
        //      }
        //      .link:hover{
        //          color: #68EDCB;
        //      }
        //      //background-color: #FF6B6B;
        //  }
     
         .postStat{
             width:100%;
            // display: none;
            display: flex;
             //justify-content: space-between;
             // margin-left: 50px;
             margin-top: 20px;
             background-color: #FFF;
             .right{
                display: flex;
                width: 100%;
                flex-direction: column;
                //background-color: red;
     
                 .top{
                    width: 100%;
                    //background-color: darkslateblue;
                     font-family: 'Poppins';
                     font-style: normal;
                     font-weight: 400;
                     font-size: 10px;
                     line-height: 15px;
                     letter-spacing: 0.015em;
                     text-transform: uppercase;
                     display: flex;
                     flex-direction: row;
                     gap: 10px;
                     align-items: center;
                     margin-bottom: 10px;
     
                     .fPost{
                         color: #9747FF;
                         width: 93px;
                         height: 23px;
                         background: rgba(151, 71, 255, 0.15);
                         border-radius: 8px;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         text-align: center;
                     }
     
                     .status-ongoing {
                         color:  #FF6B6B;
                         width: 93px;
                         height: 23px;
                         background: rgba(255, 107, 107, 0.15);
                         border-radius: 8px;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         text-align: center;
                         text-transform: uppercase;
                       }
                       .status-completed {
                         color: #43C4B2;
                         background: rgba(104, 237, 203, 0.15);
                         width: 93px;
                         height: 23px;
                         border-radius: 8px;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         text-align: center;
                         text-transform: uppercase;
                       }
     
                 }
                 
                 .postTime{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: 6px;
                    //background-color: burlywood;
     
                     span{
                        color: #808080;

                        /* Overline/overline 1 */
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.15px;
                        text-transform: uppercase;
                     }
                     .dot{
                         font-size: 25px;
                         margin-top: -5px;
                     }
                     .icon{
                         font-size: 15px;
                         padding-right: 5px;
                     }
     
                     .thread{
                        display: flex;
                        padding: 2px 4px;
                        align-items: center;
                        gap: 10px;
                        border-radius: 100px;
                        background: #000;

                        color: #FFF;

                        /* Overline/overline 1 */
                        font-family: Poppins;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.15px;
                        text-transform: uppercase;
                     }
                 }
     
                
             }
             .statleft{
                 display: flex;
                //  width: 177px;
                //  height: 24px;
                 padding-top: 0px;
                 flex-direction: column;
                 justify-content: flex-end;
                 align-items: flex-end;
                 gap: 19.5px;
                 flex-shrink: 0;
                .dotIcon{
                 width: 24px;
                 height: 24px;
                 color: #000000;
                }
             }
         }

     
         .postStory{
           // display: flex;
             width: 100%;
             height: auto;
             margin-top: 20px;
             background-color: #FFF;
             //margin: 20px;
             //margin-left: 50px;
            //position: relative;
             p{
                 
                 color: #000;
                 leading-trim: both;
                 text-edge: cap;
                 font-family: Poppins;
                 font-size: 20px;
                 font-style: normal;
                 font-weight: 500;
                 line-height: normal;
                 letter-spacing: 0.03px;
             }
        
             //  .centerWrap{
             //     // position: relative;
     
              
                 .center{
                     display: flex;
                     flex-direction: column;
                     background-color: #FFF;
                     width: 100%;
                     height: auto;
                     
                    // position: relative;
                     //display: inline-block;
                     //display: none;
                     img{
                        width: 336px;
                        height: 336px;
                         overflow: hidden;
                         object-fit: cover;
                         // display: block;
                         border-radius: 10px;
                     }
     
                     .storyTop{
                        // position: relative;
                         // top: 0;
                         // left: 0;

                         margin-top: -336px;
                         width: 336px;
                        height: 336px;
                         background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
                         display: flex;
                         flex-direction: column;
                         align-items: start;
                         justify-content: space-between;
                         z-index: 1;
                         padding: 10px;
                         border-radius: 10px;
                         //overflow: hidden;
     
                         .postStoryTop{
                             width: 100%;
                             display: flex;
                             //justify-content: space-between;
     
                             .topStory{
                                 //margin: 20px;
                                 top: 0;
                                 display: flex;
                                 flex-direction: column;
                                 gap: 10px;
                                
                 
                                span{
                                 font-family: 'Poppins';
                                 font-style: normal;
                                 font-weight: 400;
                                 font-size: 14px;
                                 line-height: 21px;
                                 letter-spacing: 0.0125em;
                                 text-transform: uppercase;
                                 color: #FFFFFF;
                                 background: rgba(0, 0, 0, 0.15);
                                 border-radius: 8px;
                                 backdrop-filter: blur(5px);
                                 //width: 100%;
                                 height: 40px;
                                 display: flex;
                                 align-items: center;
                                 justify-content: center;
                                 text-align: center;
                                 gap: 10px;
                                 left: 0;
                                 
                                }
                                .icon{
                                 color: #FFFFFF;
                                 font-size: 20px;
                                }
                             }
         
                             .progressbar{
                                 color: #FFFFFF;
                                 display: none;
                             }
     
                         }
             
                        
                         .storyCenter{
                             display: flex;
                             align-items: center;
                             width: 100%;
                             height: 100px;
                             justify-content: space-between;
                             color: white;
                             background-color: transparent;
                             margin-top: 60px;
     
                             button{
                                 display: flex;
                                 width: 186px;
                                 height: 45px;
                                 padding: 12px 32px;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 10px;
                                 flex-shrink: 0;
                                 border-radius: 8px;
                                 background: #E7FFFC;
     
                                 color: #43C4B2;
                                 font-family: Poppins;
                                 font-size: 14px;
                                 font-style: normal;
                                 font-weight: 500;
                                 line-height: normal;
                                 letter-spacing: 0.175px;
                                 text-transform: uppercase;
                             }
     
                             .likeBtn{
                                 display: flex;
                                 width: 60.412px;
                                 padding: 8px 4px;
                                 flex-direction: column;
                                 justify-content: center;
                                 align-items: center;
                                 gap: 12px;
                                 border-radius: 4px;
                                 background: rgba(0, 0, 0, 0.05);
                                 backdrop-filter: blur(1px);
     
                                 .LikeIcon{
                                     width: 44.412px;
                                     height: 41.366px;
                                 }
                                 span{
                                     display: flex;
                                     padding: 4px;
                                     justify-content: center;
                                     align-items: center;
                                     gap: 10px;
                                     align-self: stretch;
                                     border-radius: 100px;
                                     background: #FFF;
     
                                     color: #000;
                                     text-align: center;
                                     font-family: Poppins;
                                     font-size: 10px;
                                     font-style: normal;
                                     font-weight: 400;
                                     line-height: normal;
                                     letter-spacing: 0.15px;
                                     text-transform: uppercase;
                                 }
                             }
                         }
             
                         .down{
                            //background-color: cyan;
                             padding: 0;
                             margin: 0;
            
                             p{
     
                                 height: 75px;
                             width: 100%;
                             overflow: scroll;
                             color: #FFF;
                             text-overflow: ellipsis;
                             whitespace: nowrap;
     
                                 font-family: 'Poppins';
                                 font-style: normal;
                                 font-weight: 400;
                                 font-size: 14px;
                                 line-height: 21px;
                                 letter-spacing: 0.0025em;
                                 color: #FFFFFF;
             
                             }
                         }
                     }
         
                 }
             }
         
                
     
     
         }
  }