.containe {
  display: flex;
  background-image: url("../../assets/icons/pcon.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 65px;
  position: relative;
  align-items: last baseline;
  padding-bottom: 6px;
  padding-left: 7px;
}
.centered-image {
  background-image: url("../../assets/icons/pbar.png");
  background-repeat: no-repeat;
  background-position: center;
}