 .wrapper {
    
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    //margin-top: -100px;
    background-color: #FFF;
  
    .backGroundImgbuttom {
      height: 10%;
      width: 15%;
      margin-left: 85%;
      transform: rotate(5deg);
      bottom: 0;
      position: absolute;
   
    }
  
    .backGroundImgtop {
      height: 10%;
      width: 10%;
      top: 0;
      position: absolute;

    }
  .mobileLogo, .BackLink{
    display: none;
  }
    .loginHeader {
    position: absolute;
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      //margin: 20px;
      text-align: center;
      align-items: center;
      padding-left: 50px;
      padding-right: 50px;
  
      .left {
        width: 20px;
        height: 20px;
        margin-left: -30px;
      }
  
      .right {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        width: 200px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
  
        .txt {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 24px;
          letter-spacing: 0.0015em;
        }
  
        button {
          height: 40px;
          width: 100px;
          background-color: #43C4B2;
          color: #ffffff;
          border: none;
          cursor: pointer;

          
        }
      }
    }
  
    .login {
      background-color: transparent;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    //   overflow: hidden;
  
      .formContainer {
        width: 500px;
        height: 537px;
        flex-shrink: 0;
        padding: 10px;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: absolute;
  
        h1 {
          font-family: Poppins;
          font-size: 40px;
          font-weight: 300;
          line-height: 90px;
          letter-spacing: -0.005em;
          text-align: left;
          cursor: pointer;
  
          .dot{
           
            color: #43C4B2;
            background-color: #FFFFFF;
            //font-size: 60px;
        }

        }

      h6{
        display: none;
      }
  
        form{
          //display: none;
           display: inline-flex;
           flex-direction: column;
           justify-content: center;
           //align-items: flex-start;
           gap: 24px;
           //background-color: goldenrod;
           width: 100%;
          height: auto;
           padding: 10px;


  
          .Auth{
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 20px;
              align-items: flex-start;
            
             
              .form__group {
                position: relative;
                padding: 10px 0 0;
                width: 100%;
                display: flex;
                // background-color: #cfd3d6;
                // height: 45px;
                //max-width: 180px;
              }
              
              .form__field {
                font-family: inherit;
                width: 100%;
                border: none;
                border-bottom: 2px solid #000;
                border-radius: 0;
                outline: 0;
                font-size: 13px;
                color: #0d0b0b;
                padding: 10px 0;
                background: transparent;
                transition: border-color 0.2s;
              }
              
              .form__field::placeholder {
                color: transparent;
                
              }
              
              .form__field:placeholder-shown ~ .form__label {
                font-size: 12px;
                cursor: text;
                top: 20px;
                color: #000;
                padding-left: 10px;
              }
              
              .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 17px;
                color: transparent;
                pointer-events: none;
                
              }
             
              
              .form__field:focus {
                padding-bottom: 6px;
                font-weight: 300;
                border-width: 2px;
                border-image: linear-gradient(to right, #43C4B2, #43C4B2);
                border-image-slice: 1;
              }
              
              .form__field:focus ~ .form__label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 12px;
                color: #43C4B2;
                font-weight: 700;
              }
              
              /* reset input */
              .form__field:required, .form__field:invalid {
                box-shadow: none;
              }
              .viewPassword{
                color: black;
                margin-left: -5%;
                margin-top: 2%;
              }
              .active{
                color: #43C4B2;
              }
  
              .error{
                border-bottom:2px solid red;
                
              }
  
              .ErrorIcon{
                color: red;
                margin-left: -5%;
              }
  
              // .password ,.email{
               
              //     display: flex;
              //     align-items: center;
              //     gap: 10px;
              //     width: 100%;
              //     height: 35px;
                
                
                
  
              //     .error{
              //         border: 2px solid red;
                   
              //       }
  
              //     input{
              //         cursor: pointer;
              //         border: none;
              //         outline: none;
              //        display: flex;
              //        width: 100%;
              //        height: 47px;
              //        padding: 16px 12px;
              //        align-items: center;
              //        gap: 10px;
              //        border-radius: 8px;
              //        background: #F6F6F6;
              //         input:focus {
              //             background-color: rgb(253, 253, 253);
              //           }
                        
              //         &::placeholder{
              //             color: rgb(9, 7, 7);
              //             //styleName: Headers/H5;
              //             font-family: Poppins;
              //             font-size: 15px;
              //             font-weight: 400;
              //             line-height: 36px;
              //             letter-spacing: 0em;
              //             text-align: left;
              //         }
              //     }
              //     .viewPassword{
              //         color: #43C4B2;
              //         margin-left: -30px;
              //     }
  
              // }
             
          }
         
        .error-message{
          color: red;
          font-family: Poppins;
          font-size: 15px;
          font-weight: 200;
          line-height: 36px;
          letter-spacing: 0em;
        }
        .bottomText{
          display: none;
        }
     

  
      button{
        
        display: flex;
        width: 364px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 2px solid #43C4B2;
        background-color: #FFF;
        color: #43C4B2;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.175px;
        text-transform: uppercase;
        align-self: center;
       // margin-top: 20%;
      }
      

      }

      .footer{
        margin-top: 100px;
        position: static;

    }
      }
    }
    .navLink{
      text-decoration: none;
      color: #43C4B2;
  }
  .error-message{
    color: red;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 200;
    line-height: 36px;
    letter-spacing: 0em;
  }
  }


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {

}

@media  screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    position: fixed;
    scroll-behavior: smooth;


      .backGroundImgbuttom{
       display: none;

      }

      .backGroundImgtop{
       display: none;

      }

      .loginHeader{
        padding: 10px;
       

          .left {

          }
          .right{
            font-size: 12px;
            font-weight: 100;

              .txt{
                font-size: 12px;
              }
  
              button{
                  
              }
          }
      }

      .login {
          background: rgb(255, 255, 255);
          width: 100%;

          .formContainer{
              width: 80%;
              // margin-top: 100px;

              h1{
                  font-size: 25px;
                  font-weight: 300;
                  line-height: 90px;
                  

              }

              form{


                  .Auth {
                      .email, .psw, .cpsw {
                        border-bottom: 2.5px solid #000000;
                        margin-bottom: 30px;
                      }
                    }
                    .setLogin{
                      display: flex;
                      flex-direction: row;
                      font-size: 12px;
                      font-family: Poppins;
                      font-weight: 400;
                      gap: 40px;
                      
                      .check{
                          span{
                             
                          }
                      }
                      .fmp {
                          color: #68EDCB;
                          font-size: 12px;
                          font-family: Poppins;
                          font-weight: 400;
                        }
                    }
              }
          }

      }

  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 640px) {
    .wrapper {
      background: #FFFFFF;
      // margin-top: -100px;
       height: 100vh;
       width: 100%;
       display: flex;
       flex-direction: column;
       //align-items: center;
       justify-content: center;
       overflow: hidden;
       position: relative;
       padding: 0;
       //padding: 20px;

        .backGroundImgbuttom{
          //display: none;
        }

        .backGroundImgtop{
            width: 100%;
            height: 20px;
            background-color: #FF6B6B;
            //display: none;
        }

        .loginHeader{
         display: none;
        }
        .BackLink{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #FF6B6B;
            font-family: Poppins;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.15px;
            text-transform: uppercase;
            margin-left: 10px;
        }
        .mobileLogo{
          display: flex;
          width: 84.703px;
          height: 24px;
          flex-shrink: 0;
          margin-top : 20px;
          align-self: center;
      }
      h6{
        color: #808080;
        align-self: start;
        padding: 10px;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.048px;
      }
        .login {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #FFF;
            
            .formContainer{
              background: #FFF;
              //display: none;
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 90%;
              gap: 10px;
              //align-self: stretch;
              justify-content: center;
              //align-items: center;
              margin: 0;
              padding: 0;
                h1{
                  color: #000;
                  text-align: center;
                  font-family: Poppins;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 275;
                  line-height: normal;
                }
                h6{
                  display: block;
                }

                form{
                   // background-color: #eb1919;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    //height:70%;
                    overflow: visible;
                    //margin: 10px;
                    padding: 10px;
                    // position: relative;

                    .Auth{
                      width: 100%;
                     // background-color: gold;
                      padding:10px ;
                      margin: 0;
                      display: inline-flex;
                      flex-direction: column;
                      align-items: flex-start;
                      gap: 24px;
              
                      
                      .form__field {
                        font-family: inherit;
                        width: 100%;
                        height: 50px;
                        // padding-top: 20px;
                        border: none;
                       // border:  2px solid #000 !important;
                        //border-bottom: 2px solid #000;
                        outline: 0;
                        font-size: 13px;
                        color: #0d0b0b;
                        padding: 10px;
                        border-radius: 8px;
                        background: #F6F6F6;
                        //padding-left: 10px;
                        transition: border-color 0.2s;

                      }
                      
                      .form__field::placeholder {
                        color: transparent;
                        padding: 10px;
                        //background-color: brown;
                        //height: 100%;
                      }
                      
                      .form__field:placeholder-shown ~ .form__label {
                        font-size: 10px;
                        cursor: text;
                        top: 30px;
                        color: #808080;
                        padding-left: 10px;
                        //padding-top: 10px;
                      }
                      
                      .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 17px;
                        color: transparent;
                        pointer-events: none;
                        
                      }
                     
                      
                      .form__field:focus {
                        padding-bottom: 6px;
                        font-weight: 300;
                        border-width: 2px;
                        border-image: linear-gradient(to right, #43C4B2, #43C4B2);
                        border-image-slice: 1;
                        //border-radius: 118px !important;
                     border: 2px solid #43C4B2;
                        
                      }
                      
                      .form__field:focus ~ .form__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 12px;
                        color: #43C4B2;
                        font-weight: 700;
                        padding-top: 15px;
                        padding-left: 10px;
                        //background-color: blue;
                      }
                      
                      /* reset input */
                      .form__field:required, .form__field:invalid {
                        box-shadow: none;

                      }
                      .viewPassword{
                        color: black;
                        margin-left: -10%;
                        margin-top: 4%;
                        font-size: 20px;
                      }
                      .active{
                        color: #43C4B2;
                      }
          
                      .error{
                        border:2px solid red;
                        
                        
                      }
          
                      .ErrorIcon{
                        color: red;
                        margin-left: -10%;
                        margin-top: 5%;
                      }
          
                    }

                    
                       button{
                        display: flex;
                        width: 100%;
                        padding: 12px 10px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 100px;
                        background: #43C4B2;
                        color: #FFF;

                        /* Button/button 1 */
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.175px;
                        text-transform: uppercase;
                        margin-top: 40%;
                       }

                      .loginIcons{
                        display: none;
                      }
                }

                .footer{
                  display: none;
                }
            }

        }

    }
}