.popupContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 285px;
    border-radius: 16px;
    background: #FFF;

    h3{
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.024px;
    }
    .contentCenter{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 350px;
        margin: 10px;

        p{
            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.035px;              
        }

        input{
            width: 344px;
            height: 45px;
            display: inline-flex;
            padding: 15px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 1.5px solid #000;
            background: #FFF;
            outline: none;

            &::placeholder{
                color: rgba(0, 0, 0, 0.50);
                font-family: Poppins;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.15px;
                text-transform: uppercase;
            }
        }

        .subscribedAngels{
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 10px;
            width: 218px;
            height: 32px;

            .subscribers{
                display: flex;
                align-items: center;
                position: relative;
                img{
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .image1 {
                    position: relative;
                    z-index: 1;
                  }
                  
                  .image2 {
                    position: absolute;
                    top: 0;
                    left: 20px;
                    z-index: 2;
                  }

                  .image3 {
                    position: absolute;
                    top: 0;
                    left: 40px;
                    z-index: 2;
                  }

                  .image4 {
                    position: absolute;
                    top: 0;
                    left: 60px;
                    z-index: 2;
                  }
            }

            p{
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.048px;
                margin-top: 20px;
                margin-left: 60px;
            }

            span{
                color: #000;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.048px;
            }
        }


      
    }


    .newBtn{
        display: flex;
        gap: 20px;

        .subBtn{
            width: 125px;
            height: 41px;
            display: flex;
            padding: 10px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            background: #000;
            border: none;
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.175px;
            text-transform: uppercase;
        }

        .canBtn{
            width: 104px;
            height: 41px;
            display: flex;
            padding: 10px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 2px solid #000;
            background-color: transparent;
            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.175px;
            text-transform: uppercase;
        }
    }

  

}

@media  screen and (max-width: 600px) {
    .popupContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 16px;
        //background: #eb8282;
    
        h3{
            color: #000;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.024px;
        }
        .contentCenter{
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
            //margin: 10px;
            //background-color: chartreuse;
    
            p{
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.035px;              
            }
    
            input{
                width: 100%;
                height: 45px;
                display: inline-flex;
                padding: 15px 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: 1.5px solid #000;
                background: #FFF;
                outline: none;
    
                &::placeholder{
                    color: rgba(0, 0, 0, 0.50);
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.15px;
                    text-transform: uppercase;
                }
            }
    
            .subscribedAngels{
                display: flex;
                align-items: center;
                margin-top: 10px;
                gap: 10px;
                width: 218px;
                height: 32px;
    
                .subscribers{
                    display: flex;
                    align-items: center;
                    position: relative;
                    img{
                        width: 32px;
                        height: 32px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
    
                    .image1 {
                        position: relative;
                        z-index: 1;
                      }
                      
                      .image2 {
                        position: absolute;
                        top: 0;
                        left: 20px;
                        z-index: 2;
                      }
    
                      .image3 {
                        position: absolute;
                        top: 0;
                        left: 40px;
                        z-index: 2;
                      }
    
                      .image4 {
                        position: absolute;
                        top: 0;
                        left: 60px;
                        z-index: 2;
                      }
                }
    
                p{
                    color: #000;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.048px;
                    margin-top: 20px;
                    margin-left: 60px;
                }
    
                span{
                    color: #000;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.048px;
                }
            }
    
    
          
        }
    
    
        .newBtn{
            display: flex;
            gap: 20px;
    
            .subBtn{
                width: 125px;
                height: 41px;
                display: flex;
                padding: 10px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                background: #000;
                border: none;
                color: #FFF;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.175px;
                text-transform: uppercase;
            }
    
            .canBtn{
                width: 104px;
                height: 41px;
                display: none;
                //display: flex;
                padding: 10px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: 2px solid #000;
                background-color: transparent;
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.175px;
                text-transform: uppercase;
            }
        }
    
      
    
    }
  }