.popupContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 285px;
    border-radius: 16px;
    background: #FFF;

    h3{
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.024px;
    }
    .contentCenter{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 350px;
        margin: 10px;

        p{
            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.035px;              
        }

        .emailInput{
            width: 344px;
            height: 45px;
            display: inline-flex;
            padding: 15px 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 1.5px solid #000;
            background: #FFF;
            outline: none;
            input{
                width: 100%;
            }

            &::placeholder{
                color: rgba(0, 0, 0, 0.50);
                font-family: Poppins;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.15px;
                text-transform: uppercase;
            }


        }

        .subscribedAngels{
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 10px;
            width: 218px;
            height: 32px;

            .subscribers{
                display: flex;
                align-items: center;
                position: relative;
                img{
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .image1 {
                    position: relative;
                    z-index: 1;
                  }
                  
                  .image2 {
                    position: absolute;
                    top: 0;
                    left: 20px;
                    z-index: 2;
                  }

                  .image3 {
                    position: absolute;
                    top: 0;
                    left: 40px;
                    z-index: 2;
                  }

                  .image4 {
                    position: absolute;
                    top: 0;
                    left: 60px;
                    z-index: 2;
                  }
            }

            p{
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.048px;
                margin-top: 20px;
                margin-left: 60px;
            }

            span{
                color: #000;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.048px;
            }
        }


      
    }

    .mobile_center{
        display: none;
    }


    .newBtn{
        display: flex;
        gap: 20px;

        .subBtn{
            width: 125px;
            height: 41px;
            display: flex;
            padding: 10px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            background: #000;
            border: none;
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.175px;
            text-transform: uppercase;
        }

        .canBtn{
            width: 104px;
            height: 41px;
            display: flex;
            padding: 10px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 2px solid #000;
            background-color: transparent;
            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.175px;
            text-transform: uppercase;
        }
    }

  
  

}

@media  screen and (max-width: 600px) {
    .popupContent{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // width: 100%;
        // height: 100%;
        // padding: 20px;
        // border-radius: 16px;
        // //position: relative;
        // //background: #eb8282;


        display: flex;
        width: 100%;
        height: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        padding: 10px;
    
        h3{
            color: #000;
            font-family: Poppins;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.175px;
            text-transform: uppercase;
            margin-left: -10px;
        }
        .contentCenter{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            //margin: 10px;
            //background-color: chartreuse;
    
            p{
                display: flex;
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.035px;              
            }
    
            .emailInput{
                display: none;
               
            }

           
    
            .subscribedAngels{
                display: none;
            }
    
         
          
        }
    
        .mobile_center{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: black;

            p{
                color: #000;
                font-family: Poppins;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.15px;
                max-width: 225px;
            }

            .newsInput{
                display: grid;
                display: flex;
                align-items: center;
                grid-template-columns: 1.5fr 1fr;
                 width: 95%;
                 height: 45px;
                //display: inline-flex;
                //padding: 15px 10px;
                // justify-content: space-between;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: 1.5px solid #000;
                background: #FFF;
                outline: none;
                padding-left: 10px;
                //background-color: red;
                overflow: hidden;

                input{
                    //background-color: lawngreen;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    overflow: hidden;



                &::placeholder{
                    color: rgba(0, 0, 0, 0.50);
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.15px;
                    text-transform: uppercase;
                }
                }

                .sub-Btn{
                    width: 100%;
                    height: 45px;
                    display: flex;
                    //padding: 10px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 8px;
                    background: #000;
                    border: none;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.175px;
                    text-transform: uppercase;
                }
                

            }
        }
    
        .newBtn{
            display: none;
            gap: 20px;
    
          
        }
    
      
    
    }
  }